<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_center.css" type="text/css" rel="stylesheet">
</head>

<body>


 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="" class="seclect">首页</a></li>
     <li><a target="_blank" href="">网购精选</a></li>
     <li><a target="_blank" href="">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol>
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
  <div class="center_box space_top space">
    <div class="center_name">
     <div class="pic"><a href="个人中心.html" target="_blank"><img src="../images/default_pic.png"/></a></div>
     <div class="text">
      <p class="name"><a href="个人中心.html" target="_blank">飞不起来的鱼</a></p>
     </div>
    </div>
    <div class="center_con"> 
      <div class="center_left">
       <h2>个人中心</h2>
       <div class="center_nav">
        <h3 class="grzl">个人资料</h3>
        <ul>
         <li><a href="个人中心_基本信息.html">基本资料</a></li>
         <li class="c"><a href="个人中心_个人头像.html">个人头像</a></li>
         <li><a href="个人中心_修改密码.html">修改密码</a></li>
        </ul>
        <h3 class="bd">绑定与同步</h3>
        <ul>
         <li><a href="个人中心_绑定手机.html">绑定手机</a></li>
         <li><a href="个人中心_绑定其他账号.html">绑定其他账号</a></li>
        </ul>
       </div>
       <h2>商家中心</h2>
       <div class="center_nav">
        <h3 class="sjzl">商家资料</h3>
        <ul>
         <li><a href="商家中心_基本资料.html">基本资料</a></li>
         <li><a href="商家中心_店面形象.html">店面形象</a></li>
        </ul>
        <h3 class="cx">促销管理</h3>
        <ul>
         <li><a href="商家中心_发布促销.html">发布促销</a></li>
         <li><a href="商家中心_管理促销.html">管理促销</a></li>
        </ul>
        <h3 class="yy">运营数据</h3>
        <ul>
         <li><a href="商家中心_运营数据.html">关注数</a></li>
         <li><a href="商家中心_交易数.html">交易数</a></li>
        </ul>
       </div>
      </div>
      <div class="center_right">
        <h1>个人头像</h1>
        <ul class="int">
         <li><input type="submit" value="重新上传" class="sub">支持JPG、PNG、GIF、BMP格式的图片文件，文件大小小于1M</li>
        </ul>
        <div class="headpic">
            <div class="wz">当前头像：</div>
            <ul class="headpic_list">
             <li><img class="big" src="../images/pic180x180.jpg"/><p>180*180</p></li>
             <li><img class="middle" src="../images/pic180x180.jpg"/><p>85*85</p></li>
             <li><img class="small" src="../images/pic180x180.jpg"/><p>60*60</p></li>
            </ul>
            <div class="save"><input type="submit" value="保存" class="sub"></div>
            <div class="save_ok" style="display:block;"><span>保存成功</span></div>
        </div>
       </div>
    </div>
  </div>
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
