<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_homepage.css" type="text/css" rel="stylesheet">
</head>

<body>
 <div id="floating">
  <a href="">回顶部</a>
 </div>

 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="" class="seclect">首页</a></li>
     <li><a target="_blank" href="">网购精选</a></li>
     <li><a target="_blank" href="">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol>
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content_homepage">
  <div class="home_top_box">
   <div class="home_top_bg">
    <div class="home_title">
     <span class="opacity_bg"></span>
     <div class="user_pic">
      <img src="../images/pic180x180.jpg"/>
     <ul class="record">
       <li class="follow">
        <a href="个人中心_我的关注.html" title="关注"><span class="red18">68</span><span>关注</span></a>
       </li>
       <li class="fans">
        <a href="个人中心_我的粉丝.html" title="粉丝"><span class="red18">1365</span><span>粉丝</span></a>
       </li>
      </ul>
     </div>
      <div class="user_name">
      <h1>姑苏城外寒山寺</h1>
      <p class="describe">努力微笑，却扯痛了嘴角，再用力，又挤出了眼泪…</p>
      <p class="btn"><a href="个人中心_基本信息.html" class="annew01">账号设置</a><a href="商家中心_提醒开通.html" class="annew02">进入商家中心</a><a href="分享商品.html" class="red">我要晒宝贝</a></p>
     </div>
    </div>
   </div>
   <div class="home_top_nav">
   <ul class="home_nav">
     <li><a href="个人中心.html">关注的动态</a></li>
     <li><a href="个人中心_收藏的商品.html">收藏的</a></li>
     <li><a href="个人中心_我晒的.html">我晒的</a></li>
     <li class="c"><a href="个人中心_我评价的商品.html">我评价的</a></li>
    </ul>
   </div>
  </div>
  <div class="home_body_box">
  <ul class="home_body_nav">
    <li><a href="个人中心_我评价的商品.html">我评价的商品</a></li>
    <li class="seclect"><a href="个人中心_我评价的优惠.html">我评价的优惠</a></li>
   </ul>
   <div class="body_con">
    <div class="pjyhlist">
     <ul>
      <li>
       <div class="yh_con">
        <p>菜品分量很足，味道也不错！</p><span class="time">1天前</span>
       </div>
       <div class="yhbox">
        <div class="pic"><a href="生效促销.html" target="_blank"><img src="../images/pic200x133.png"/></a></div>
        <div class="txt">
         <p><a class="title" href="生效促销.html" target="_blank"><em>[渝北酸菜鸡]</em> 享活鸡8.8折 送2份汤菜</a></p>
         <p class="user">
          <span class="first"><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span>
         </p>
        </div>
       </div>
       
      </li>
      <li class="even">
       <div class="yh_con">
        <p>菜品分量很足，味道也不错！</p><span class="time">1天前</span>
       </div>
       <div class="yhbox">
        <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
        <div class="txt">
         <p><a class="title" href="" target="_blank"><em>[渝北酸菜鸡]</em> 享活鸡8.8折 送2份汤菜</a></p>
         <p class="user">
          <span class="first"><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span>
         </p>
        </div>
       </div>
       
      </li>
        <li>
       <div class="yh_con">
        <p>菜品分量很足，味道也不错！</p><span class="time">1天前</span>
       </div>
       <div class="yhbox">
        <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
        <div class="txt">
         <p><a class="title" href="" target="_blank"><em>[渝北酸菜鸡]</em> 享活鸡8.8折 送2份汤菜</a></p>
         <p class="user">
          <span><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span>
         </p>
        </div>
       </div>
       
      </li>
      
     </ul>
    </div>
   </div>
   <div class="page_number">
   <div class="pageNav">
    <a class="pagePrev" href=""><上一页</a>
    <a class="currentpage" href="">9</a>
    <a href="">10</a>
    <a href="">11</a>
    <a href="">12</a>
    <a href="">13</a>
    <a href="">14</a>
    <a href="">15</a>
    <a href="">16</a>
    <a href="">17</a>
    <i>...</i>
    <a href="">55</a>
    <a class="pageNext" href="">下一页></a>
    
   </div>
  </div>
  

 
 
 
  
 </div>
  
 
 
</div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
