<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/about_us.css" type="text/css" rel="stylesheet">
</head>
<body>


 <header>
  
<div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
    <!--<div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="">首页</a></li>
     <li><a target="_blank" href="">网购精选</a></li>
     <li><a target="_blank" href="">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol>
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
  <div class="about_box wrap_border r5 space">
   <div class="about_top">
    <nav class="about_nav">
     <ul>
      <li class="c"><a href="" target="_blank">贵商网</a></li>
      <li><a href="" target="_blank">联系我们</a></li>
      <li><a href="" target="_blank">商家入驻</a></li>
      <li><a href="" target="_blank">帮助中心</a></li>
     </ul>
    </nav>
   </div>
   
   <article class="about_con">
    <p><img src="../images/about_gsw.png"/></p>
    <p>金算盘•贵商网是在云岩区人民政府大力倡导和扶持下，由国内知名的全程电子商务提供商金算盘软件有限公司开发、运营的区域电子商务平台。贵商网立足贵阳，面向贵州省内实体经营企业、商家提供服务，以B2C（商家对消费者）为主体的O2O模式（线上到线下）为经营模式，倡导全新的区域电子商务经营理念，打造“贵州人的网上生活”品牌形象。</p>
    <p><b>以O2O带动线上线下商机整合</b></p>
    <p>结合O2O（Online to Online）电子商务理念，采取先进的全球定位系统、地图搜索引擎、移动定位服务、二维码等技术，将线下商务的机会与互联网结合在一起，让贵商网成为线下交易的前台，消费者可以线上筛选服务，线下享受服务，以此来为贵州不同城市的网友提供本地餐饮美食、消费购物、休闲娱乐及生活服务的商户信息、消费优惠以及发布消费点评。</p>
    <p><b>向中小商户提供低成本精准营销服务</b></p>
    <p>与大中型商家相比较，中小商户营销、人力投入相对不足，但消费者消费需求旺盛。贵商网为中小商家提供了基于PC终端的贵商网，以及基于智能手机终端的贵客，让商家畅游于互联网新营销浪潮，享受网络推广、商机推送、客户经营等服务。贵商网产品的便捷易用降低了商家开展电子商务活动的门槛，弥补了日常营销能力的不足，让商家能以最少的投入获取最大的收益。同时，贵商网推出的“贵客”手机客户端必将成为贵州城市生活必备的App应用。</p>
     <p><b>以全程电子商务推动特色商品流向全国</b></p>
     <p>贵州人杰地灵、物产丰富、民族风情浓郁，但长期受制于交通、物流的限制，没有能够为外地消费者所知。互联网的快速扩展，弥补了传统信息流通渠道的不足，电子商务的飞速发展，加快了区域间商务的交融，因此，在贵商网上，我们为省内从事特色商品生产、贸易的企业提供了多样化商品展示、在线零售交易、一体化的交易全过程管理服务，能够加速推动本土资源的对外辐射，促进贵州特色商品走向全国。</p>
   </article>
  </div>
 
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
