<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/pop_up.css" type="text/css" rel="stylesheet">
</head>

<body>
 
 <div id="pop_up">
   <div class="pw_box">
   <h1><span>晒宝贝</span><a href="#">取消</a></h1>
   <div class="pw_con">
    <div class="show_pd">
     <input type="text" value="请将商品网址粘贴到这里" class="web r3" name="" maxlength="36" id="">
     <a class="botton" href="添加商品链接后.html">添加</a><!--<input type="submit" value="添加" class="botton" />-->
     <p>已支持的网站：淘宝</p>
    </div>
    <div class="show_form">
     <div class="field">
      <label>选择分类：</label>
      <select id=""><option value="">食品饮料</option><option value="">生活家居</option></select>
      <select id=""><option value="">饮料</option></select>   
     </div>
     <div class="field">
      <label>标签：</label>
      <input type="text" value="请为它贴上标签，如复古、雪纺，多个标签以逗号分隔" class="text r3" name="" maxlength="36" id="">
     </div>
     <div class="field">
      <label>商品描述：</label>
      <textarea class="pub_txt">这件分享的商品什么打动了你？</textarea>
      <span>还可以输入200个字</span>
     </div>
     <div class="field">
     <a class="sub" href="分享成功.html">发布</a><!--<input type="submit" value="发布" class="sub">-->
     </div>
    </div>
   </div>
  </div>
 </div>
 
 

</body>
</html>
