<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/pop_up.css" type="text/css" rel="stylesheet">
</head>

<body>
 
 <div id="pop_up">
   <div class="pw_box">
   <h1><span>我要分享</span><a href="#">取消</a></h1>
   <div class="pw_con">
    <div class="share">
     <p class="note">分享成功！</p>
     <p><a href="网购精选_商品详情.html" target="_blank">去分享的商品页看看 >></a></p>
    </div>
    
   </div>
  </div>
 </div>
 
 

</body>
</html>
