<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_szb_search.css" type="text/css" rel="stylesheet">
</head>

<body>
 <div id="floating">
  <a href="">回顶部</a>
 </div>

 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
    <!--<div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="">首页</a></li>
     <li><a target="_blank" href="">网购精选</a></li>
     <li><a target="_blank" href="" class="seclect">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol style="display:none;">
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
   <div class="search_assort wrap_border">
     <div class="assortlist">
      <label>分类</label>
      <a href="" class="all">全部</a>
      <ul>
       <li><a target="_blank">生活服务<span>(21)</span></a></li>
       <li><a target="_blank">购物<span>(126)</span></a></li>
       <li><a target="_blank">运动健身<span>(12)</span></a></li>
       <li><a target="_blank" class="seclect">餐饮美食<span>(80)</span></a></li>
       <li><a target="_blank">休闲娱乐<span>(143)</span></a></li>
      </ul>
     </div>
     <div class="open">
       <a href="周边优惠_列表页.html" target="_blank">川菜<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">粤菜<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">茶馆<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">火锅<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">特色小吃<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">日韩料理<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">西餐<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">自助餐<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">茶馆<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">火锅<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">特色小吃<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">东南亚菜<span>(5)</span></a><a href="周边优惠_列表页.html" target="_blank">其他<span>(5)</span></a>
     </div>
     <div class="assortlist">
      <label>区域</label>
      <a href="" class="all">全部</a>
      <ul>
       <li><a target="_blank">南明区<span>(11)</span></a></li>
       <li><a target="_blank">白云区<span>(26)</span></a></li>
       <li><a target="_blank">乌当区<span>(22)</span></a></li>
       <li><a target="_blank">花溪区<span>(43)</span></a></li>
       <li><a target="_blank">小河区<span>(12)</span></a></li>
       <li><a target="_blank">金阳新区<span>(28)</span></a></li>
      </ul>
     </div>
    </div>
  <div class="szbsstext">与“火锅”相关的信息888个</div>
  <div class="szbconbox space">
   <div class="con_left">
    
    <div class="szbconlist wrap_border space">
     <ul>
      <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
      <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
      <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
      <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
       <li>
       <div class="pic"><a href="" target="_blank"><img src="../images/pic200x133.png"/></a></div>
       <div class="txt">
        <a class="title" href="" target="_blank">大风炊四川元素火锅</a>
        <p><em>9.0</em>折<span>|</span>凭二维码享<em>10</em>元体验价</p>
        <p class="address"><span class="icon"></span>渝北区青松路</p>
       </div>
      </li>
     </ul>
    </div>
    
   
    
   </div>
   <div class="con_right">
    
    
    <div class="hotlist wrap_border space">
    <h3>周边热点排行</h3>
    <ol>
     <li class="highlight"><span>1</span><b>小肥羊</b>情侣套餐</li>
     <li class="highlight open"><p><span>2</span><b>小肥羊</b>情侣套餐</p>
      <div class="openbox">
      <div class="img"><a href="生效促销.html" target="_blank"><img src="../images/pic60x60.png"/></a></div>
      <div class="txt"><a href="生效促销.html" target="_blank">小肥羊情侣套餐</a><p>情侣套餐买一送一情侣套餐买一送一情侣套餐买一送一</p></div>
     </div>
     </li>
     <li><span>4</span><b>小肥羊</b>情侣套餐</li>
     <li><span>5</span><b>小肥羊</b>情侣套餐</li>
     <li class="last"><span>6</span><b>小肥羊</b>情侣套餐</li>     
    </ol>
   </div>
    <div class="shoplist wrap_border space">
    <h3>品牌商家</h3>
    <div class="shop_ad">
     <ul>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
     </ul>
    </div>
   </div>
   <div id="ad_rightbar"><a href="" target="_blank"><img src="../images/ad_test.png"/></a></div>
   </div>
  </div> 

  
  <div class="page_number">
   <div class="pageNav">
    <a class="pagePrev" href=""><上一页</a>
    <a class="currentpage" href="">9</a>
    <a href="">10</a>
    <a href="">11</a>
    <a href="">12</a>
    <a href="">13</a>
    <a href="">14</a>
    <a href="">15</a>
    <a href="">16</a>
    <a href="">17</a>
    <i>...</i>
    <a href="">55</a>
    <a class="pageNext" href="">下一页></a>
   </div>
  </div>   
  
   <div class="searchbox">
   <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol style="display:none;">
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="big_txt">
     <input type="submit" class="big_btn" value="">
   </div>
 </div>
  
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
