<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>多彩贵州，优质生活 | 贵商网特色选购专区</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/zt_1202.css" type="text/css" rel="stylesheet">
</head>


<body>
 <header>
  
<div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li><a target="_blank" href="http://http://gsw100.com">首页</a></li>
     <li><a target="_blank" href="http://gsw100.com/coupons">周边优惠</a></li>
     <li><a target="_blank" href="http://gsw100.com/share">网购精选</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol>
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
   <div id="con_top">
    <div class="t_col" style="height:167px;"><img src="../images/top01.jpg"/></div>
    <div class="t_col" style="height:399px;">
     <div class="dh">
       <ul>
        <li><a href="#fl01">贵州名酒</a></li>
        <li><a href="#fl02">贵州茗茶</a></li>
        <li><a href="#fl03">民族工艺</a></li>
        <li><a href="#fl04">山珍极品</a></li>
        <li><a href="#fl05">贵州聚味</a></li>
       </ul>
     </div>
     <div><img src="../images/top03.jpg"/></div>
    </div>
   </div>
   <div class="con_fl fl01">
    <h2 id="fl01">贵州名酒</h2>
    <div class="con_left">
     <ul>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5957
" target="_blank"><img src="../images/jiu_b01.jpg"/></a></div>
       <div class="p_text"><span>叶倾城</span><a href="http://www.gsw100.com/share/5957
" target="_blank">53度茅台-贵州飞天茅台酒 ——正品保真白酒 53度500ml 酱香型</a></div>
       <div class="p_an"><span>￥<i>945</i></span><a href="http://www.gsw100.com/share/5957
" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5959" target="_blank"><img src="../images/jiu_b02.jpg"/></a></div>
       <div class="p_text"><span>酒仙网</span><a href="http://www.gsw100.com/share/5959" target="_blank">52度茅台-贵州浓香型白酒——茅台集团经典品位珍品500ml</a></div>
       <div class="p_an"><span>￥<i>99</i></span><a href="http://www.gsw100.com/share/5959" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5960" target="_blank"><img src="../images/jiu_b03.jpg"/></a></div>
       <div class="p_text"><span>熙墨</span><a href="http://www.gsw100.com/share/5960" target="_blank">贵州茅台-国隆窖藏15年52度浓香型白酒——名酒礼盒</a></div>
       <div class="p_an"><span>￥<i>238</i></span><a href="http://www.gsw100.com/share/5960" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5961" target="_blank"><img src="../images/jiu_b04.jpg"/></a></div>
       <div class="p_text"><span>e品隆</span><a href="http://www.gsw100.com/share/5961" target="_blank">52度贵州茅台-浓香型白酒名酒——祝尊富贵礼盒酒</a></div>
       <div class="p_an"><span>￥<i>128</i></span><a href="http://www.gsw100.com/share/5961" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5962" target="_blank"><img src="../images/jiu_b05.jpg"/></a></div>
       <div class="p_text"><span>贵和酱香</span><a href="http://www.gsw100.com/share/5962" target="_blank">老掌柜名酒-贵州茅台镇3斤大坛装白酒——百年纯酱53度酱香型</a></div>
       <div class="p_an"><span>￥<i>148</i></span><a href="http://www.gsw100.com/share/5962" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5963" target="_blank"><img src="../images/jiu_b06.jpg"/></a></div>
       <div class="p_text"><span>久加久</span><a href="http://www.gsw100.com/share/5963" target="_blank">中国名酒-贵州茅台酒——祝尊富贵52度</a></div>
       <div class="p_an"><span>￥<i>99</i></span><a href="http://www.gsw100.com/share/5963" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
     </ul>
    </div>
    <div class="con_right">
     <h3>小编推荐</h3>
     <div class="sicon"></div>
     <ul>
      <li>
       <div class="num">1</div>
       <div class="img"><a href="http://www.gsw100.com/share/5964" target="_blank"><img src="../images/jiu_s01.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5964" target="_blank" title="中国名酒-贵州茅台镇——30年原浆酒1978珍藏">中国名酒-贵州茅台镇——30年原浆酒1978珍藏</a><span>￥29.90</span></div>
      </li>
      <li>
       <div class="num">2</div>
       <div class="img"><a href="http://www.gsw100.com/share/5965" target="_blank"><img src="../images/jiu_s02.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5965" target="_blank" title="贵州茅台不老酒御品53度-酱香型白酒500ml ——节日送礼中国名酒礼盒">贵州茅台不老酒御品53度-酱香型白酒500ml ——节日送礼中国名酒礼盒</a><span>￥258.00</span></div>
      </li>
      <li>
       <div class="num">3</div>
       <div class="img"><a href="http://www.gsw100.com/share/5966" target="_blank"><img src="../images/jiu_s03.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5966" target="_blank" title="唐韵53度白酒原浆-贵州名酒茅台镇酒——高度酱香型白酒正品">唐韵53度白酒原浆-贵州名酒茅台镇酒——高度酱香型白酒正品</a><span>￥91.60</span></div>
      </li>
      <li>
       <div class="num">4</div>
       <div class="img"><a href="http://www.gsw100.com/share/5967" target="_blank"><img src="../images/jiu_s04.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5967" target="_blank" title="贵州洞藏红酱青酒-酱香型白酒——中国名酒婚宴酒喜酒正品">贵州洞藏红酱青酒-酱香型白酒——中国名酒婚宴酒喜酒正品</a><span>￥128.00</span></div>
      </li>
      <li>
       <div class="num">5</div>
       <div class="img"><a href="http://www.gsw100.com/share/5968" target="_blank"><img src="../images/jiu_s05.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5968" target="_blank" title="中国名酒-酱香型白酒——贵州茅台酒镇高度赖茅酒53度南国赖茅10年">中国名酒-酱香型白酒——贵州茅台酒镇高度赖茅酒53度南国赖茅10年</a><span>￥148.00</span></div>
      </li>
      <li>
       <div class="num">6</div>
       <div class="img"><a href="http://www.gsw100.com/share/5969" target="_blank"><img src="../images/jiu_s06.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5969" target="_blank" title="小糊涂仙52度500ml 浓香型白酒 专柜正品">小糊涂仙52度500ml 浓香型白酒 专柜正品</a><span>￥128.00</span></div>
      </li>
      <li>
       <div class="num">7</div>
       <div class="img"><a href="http://www.gsw100.com/share/5970" target="_blank"><img src="../images/jiu_s07.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5970" target="_blank" title="国产白酒-中国名酒贵州52珍品礼盒茅台酒五粮液">国产白酒-中国名酒贵州52珍品礼盒茅台酒五粮液</a><span>￥94.40</span></div>
      </li>
     </ul>
    </div>
   </div>
   <div class="con_fl fl02">
    <h2 id="fl02">贵州茗茶</h2>
    <div class="con_left">
     <ul>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5971" target="_blank"><img src="../images/cha_b01.jpg"/></a></div>
       <div class="p_text"><span>侗乡福</span><a href="http://www.gsw100.com/share/5971" target="_blank">2013新茶富硒-茶叶绿茶500g 春茶叶批发散装——贵州有机茶</a></div>
       <div class="p_an"><span>￥<i>49</i></span><a href="http://www.gsw100.com/share/5971" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3340" target="_blank"><img src="../images/cha_b02.jpg"/></a></div>
       <div class="p_text"><span>兰馨茶</span><a href="http://www.gsw100.com/share/3340" target="_blank">兰馨新品新茶-贵州茶叶湄潭翠芽50g装——特级西湖龙井类绿茶</a></div>
       <div class="p_an"><span>￥<i>68</i></span><a href="http://www.gsw100.com/share/3340" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5972" target="_blank"><img src="../images/cha_b03.jpg"/></a></div>
       <div class="p_text"><span>侗乡福</span><a href="http://www.gsw100.com/share/5972" target="_blank">2013新茶-毛峰茶叶绿茶——高山贵州毛峰茶100g </a></div>
       <div class="p_an"><span>￥<i>48</i></span><a href="http://www.gsw100.com/share/5972" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5980
" target="_blank"><img src="../images/cha_b04.jpg"/></a></div>
       <div class="p_text"><span>天曦</span><a href="http://www.gsw100.com/share/5980
" target="_blank">天曦茗茶-都匀毛尖春茶——中国十大绿茶精选</a></div>
       <div class="p_an"><span>￥<i>55</i></span><a href="http://www.gsw100.com/share/5980
" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5973" target="_blank"><img src="../images/cha_b05.jpg"/></a></div>
       <div class="p_text"><span>红敏茶园</span><a href="http://www.gsw100.com/share/5973" target="_blank">大叶苦丁茶-贵州毛冬青茶叶——新茶特价促销</a></div>
       <div class="p_an"><span>￥<i>50</i></span><a href="http://www.gsw100.com/share/5973" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5981" target="_blank"><img src="../images/cha_b06.jpg"/></a></div>
       <div class="p_text"><span>黔贵尚品</span><a href="http://www.gsw100.com/share/5981" target="_blank">贵州高山红茶-石阡富钾红茶100g 一级红——无公害茶叶</a></div>
       <div class="p_an"><span>￥<i>39</i></span><a href="http://www.gsw100.com/share/5981" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
     </ul>
    </div>
    <div class="con_right">
     <h3>小编推荐</h3>
     <div class="sicon"></div>
     <ul>
      <li>
       <div class="num">1</div>
       <div class="img"><a href="http://www.gsw100.com/share/5974" target="_blank"><img src="../images/cha_s01.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5974" target="_blank" title="石阡苔茶-贵州高山一级毛峰富钾绿茶200克礼盒——经济实惠装">石阡苔茶-贵州高山一级毛峰富钾绿茶200克礼盒——经济实惠装</a><span>￥99.00</span></div>
      </li>
      <li>
       <div class="num">2</div>
       <div class="img"><a href="http://www.gsw100.com/share/5975" target="_blank"><img src="../images/cha_s02.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5975" target="_blank" title="苦丁茶-新茶青山绿水——野生贵州小叶苦丁茶100g 特级茶叶">苦丁茶-新茶青山绿水——野生贵州小叶苦丁茶100g 特级茶叶</a><span>￥65.00</span></div>
      </li>
      <li>
       <div class="num">3</div>
       <div class="img"><a href="http://www.gsw100.com/share/5976" target="_blank"><img src="../images/cha_s03.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5976" target="_blank" title="贵州高山生态茶 -富钾石阡苔茶——尚品毛峰100g">贵州高山生态茶 -富钾石阡苔茶——尚品毛峰100g</a><span>￥98.00</span></div>
      </li>
      <li>
       <div class="num">4</div>
       <div class="img"><a href="http://www.gsw100.com/share/5977" target="_blank"><img src="../images/cha_s04.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5977" target="_blank" title="雪竹新茶叶-峨眉山竹叶青类有机绿茶——明前炒青茶雀舌茗茶独芽">雪竹新茶叶-峨眉山竹叶青类有机绿茶——明前炒青茶雀舌茗茶独芽</a><span>￥38.00</span></div>
      </li>
      <li>
       <div class="num">5</div>
       <div class="img"><a href="http://www.gsw100.com/share/5982" target="_blank"><img src="../images/cha_s05.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5982" target="_blank" title="特级竹叶青-2013新茶春茶烘青绿茶——明前雀舌茶叶">特级竹叶青-2013新茶春茶烘青绿茶——明前雀舌茶叶</a><span>￥68.00</span></div>
      </li>
      <li>
       <div class="num">6</div>
       <div class="img"><a href="http://www.gsw100.com/share/5978" target="_blank"><img src="../images/cha_s06.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5978" target="_blank" title="贵州茶叶-遵义红茶兰馨特级金尖60g金骏眉类礼品礼盒">贵州茶叶-遵义红茶兰馨特级金尖60g金骏眉类礼品礼盒</a><span>￥76.00</span></div>
      </li>
      <li>
       <div class="num">7</div>
       <div class="img"><a href="http://www.gsw100.com/share/5979" target="_blank"><img src="../images/cha_s07.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5979" target="_blank" title="贵州凤冈特产-富锌富硒有机红茶 小叶种红茶茶叶礼盒包装">贵州凤冈特产-富锌富硒有机红茶 小叶种红茶茶叶礼盒包装</a><span>￥188.00</span></div>
      </li>
     </ul>
    </div>
   </div>
   <div class="con_fl fl03">
    <h2 id="fl03">民族工艺</h2>
    <div class="con_left">
     <ul>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3364" target="_blank"><img src="../images/yi_b01.jpg"/></a></div>
       <div class="p_text"><span>黔枫</span><a href="http://www.gsw100.com/share/3364" target="_blank">99纯银戒指-手工拉丝银饰——花丝工艺铜鼓戒指</a></div>
       <div class="p_an"><span>￥<i>84</i></span><a href="http://www.gsw100.com/share/3364" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3366" target="_blank"><img src="../images/yi_b02.jpg"/></a></div>
       <div class="p_text"><span>黔枫</span><a href="http://www.gsw100.com/share/3366" target="_blank">手工刺绣民族饰品-手镯苗银镶绣——活扣空心窄手镯</a></div>
       <div class="p_an"><span>￥<i>75</i></span><a href="http://www.gsw100.com/share/3366" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3367" target="_blank"><img src="../images/yi_b03.jpg"/></a></div>
       <div class="p_text"><span>黔枫</span><a href="http://www.gsw100.com/share/3367" target="_blank">玉石工艺品-梵净山紫袍玉带石——雕刻车挂</a></div>
       <div class="p_an"><span>￥<i>40</i></span><a href="http://www.gsw100.com/share/3367" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3370" target="_blank"><img src="../images/yi_b04.jpg"/></a></div>
       <div class="p_text"><span>黔枫</span><a href="http://www.gsw100.com/share/3370" target="_blank">中国民族娃娃-晓青工艺娃娃——水族卡通小盛装</a></div>
       <div class="p_an"><span>￥<i>48</i></span><a href="http://www.gsw100.com/share/3370" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5984" target="_blank"><img src="../images/yi_b05.jpg"/></a></div>
       <div class="p_text"><span>蜡染之家</span><a href="http://www.gsw100.com/share/5984" target="_blank">贵州安顺苗族-民间手工艺品——隔热垫 ，绣花杯垫</a></div>
       <div class="p_an"><span>￥<i>18</i></span><a href="http://www.gsw100.com/share/5984" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5989" target="_blank"><img src="../images/yi_b06.jpg"/></a></div>
       <div class="p_text"><span>黔锦银饰</span><a href="http://www.gsw100.com/share/5989" target="_blank">贵州凯里少数民族纯手工拉丝工艺饰品-太阳鼓复古男女吊坠</a></div>
       <div class="p_an"><span>￥<i>159</i></span><a href="http://www.gsw100.com/share/5989" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
     </ul>
    </div>
    <div class="con_right">
     <h3>小编推荐</h3>
     <div class="sicon"></div>
     <ul>
      <li>
       <div class="num">1</div>
       <div class="img"><a href="http://www.gsw100.com/share/5983" target="_blank"><img src="../images/yi_s01.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5983" target="_blank" title="家居装饰-苗家手工工艺银画——镜框画 34*34苗银项圈">家居装饰-苗家手工工艺银画——镜框画 34*34苗银项圈</a><span>￥391.00</span></div>
      </li>
      <li>
       <div class="num">2</div>
       <div class="img"><a href="http://www.gsw100.com/share/5985" target="_blank"><img src="../images/yi_s02.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5985" target="_blank" title="贵州苗族蜡染工艺品-苗族特色工艺——民族包包、蜡染布包">贵州苗族蜡染工艺品-苗族特色工艺——民族包包、蜡染布包</a><span>￥29.00</span></div>
      </li>
      <li>
       <div class="num">3</div>
       <div class="img"><a href="http://www.gsw100.com/share/5986" target="_blank"><img src="../images/yi_s03.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5986" target="_blank" title="贵州民族工艺品-绣花钱包钱夹——民族风工艺品拼花零钱袋">贵州民族工艺品-绣花钱包钱夹——民族风工艺品拼花零钱袋</a><span>￥18.00</span></div>
      </li>
      <li>
       <div class="num">4</div>
       <div class="img"><a href="http://www.gsw100.com/share/5987
" target="_blank"><img src="../images/yi_s04.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5987
" target="_blank" title="贵州特产手工艺品-少数民族工艺精品——情侣布娃娃">贵州特产手工艺品-少数民族工艺精品——情侣布娃娃</a><span>￥33.00</span></div>
      </li>
      <li>
       <div class="num">5</div>
       <div class="img"><a href="http://www.gsw100.com/share/5988" target="_blank"><img src="../images/yi_s05.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5988" target="_blank" title="贵州苗族蜡染工艺品-民族特色——蜡染相框画芯、蜡染画">贵州苗族蜡染工艺品-民族特色——蜡染相框画芯、蜡染画</a><span>￥36.00</span></div>
      </li>
      <li>
       <div class="num">6</div>
       <div class="img"><a href="http://www.gsw100.com/share/5991
" target="_blank"><img src="../images/yi_s06.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5991
" target="_blank" title="贵州民族手工艺品-- 苗银戒指">贵州民族手工艺品-- 苗银戒指</a><span>￥7.00</span></div>
      </li>
      <li>
       <div class="num">7</div>
       <div class="img"><a href="http://www.gsw100.com/share/5990" target="_blank"><img src="../images/yi_s07.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5990" target="_blank" title="贵州民间手工艺品-民族工艺品 布艺扇子">贵州民间手工艺品-民族工艺品 布艺扇子</a><span>￥4.00</span></div>
      </li>
     </ul>
    </div>
   </div>
   <div class="con_fl fl04">
    <h2 id="fl04">山珍极品</h2>
    <div class="con_left">
     <ul>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5992" target="_blank"><img src="../images/sha_b01.jpg"/></a></div>
       <div class="p_text"><span>山尖百合</span><a href="http://www.gsw100.com/share/5992" target="_blank">贵州织金竹荪-非长裙竹荪——天然无硫熏竹笙干货</a></div>
       <div class="p_an"><span>￥<i>50</i></span><a href="http://www.gsw100.com/share/5992" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3326" target="_blank"><img src="../images/sha_b02.jpg"/></a></div>
       <div class="p_text"><span>山尖百合</span><a href="http://www.gsw100.com/share/3326" target="_blank">贵州原生态干小香菇-香菇干货——无硫 很干很香很嫩</a></div>
       <div class="p_an"><span>￥<i>28</i></span><a href="http://www.gsw100.com/share/3326" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/3332" target="_blank"><img src="../images/sha_b03.jpg"/></a></div>
       <div class="p_text"><span>禾煜</span><a href="http://www.gsw100.com/share/3332" target="_blank">贵州特产-纯天然薏米干货——特级薏米仁、小薏米仁</a></div>
       <div class="p_an"><span>￥<i>59</i></span><a href="http://www.gsw100.com/share/3332" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5993
" target="_blank"><img src="../images/sha_b04.jpg"/></a></div>
       <div class="p_text"><span>玖天食品</span><a href="http://www.gsw100.com/share/5993
" target="_blank">贵州大品牌干货蘑菇菌类之王——精选特级袋装松茸</a></div>
       <div class="p_an"><span>￥<i>129</i></span><a href="http://www.gsw100.com/share/5993
" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5994" target="_blank"><img src="../images/sha_b05.jpg"/></a></div>
       <div class="p_text"><span>山里妹</span><a href="http://www.gsw100.com/share/5994" target="_blank">贵州土特产-特级银耳花——白木耳雪耳银耳子</a></div>
       <div class="p_an"><span>￥<i>16.80</i></span><a href="http://www.gsw100.com/share/5994" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/share/5995" target="_blank"><img src="../images/sha_b06.jpg"/></a></div>
       <div class="p_text"><span>飨味</span><a href="http://www.gsw100.com/share/5995" target="_blank">贵州特产-天然食品干货——牛肝菌 香菇 大脚菇</a></div>
       <div class="p_an"><span>￥<i>37</i></span><a href="http://www.gsw100.com/share/5995" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
     </ul>
    </div>
    <div class="con_right">
     <h3>小编推荐</h3>
     <div class="sicon"></div>
     <ul>
      <li>
       <div class="num">1</div>
       <div class="img"><a href="http://www.gsw100.com/share/5996" target="_blank"><img src="../images/sha_s01.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5996" target="_blank" title="贵州农家-黄花菜干货批发——黄花菜 纯天然 无污染 原生态">贵州农家-黄花菜干货批发——黄花菜 纯天然 无污染 原生态</a><span>￥12.80</span></div>
      </li>
      <li>
       <div class="num">2</div>
       <div class="img"><a href="http://www.gsw100.com/share/5997" target="_blank"><img src="../images/sha_s02.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5997" target="_blank" title="贵州土特产-绿色原生态——嫩香菇 干货冬菇 干货蘑菇">贵州土特产-绿色原生态——嫩香菇 干货冬菇 干货蘑菇</a><span>￥48.00</span></div>
      </li>
      <li>
       <div class="num">3</div>
       <div class="img"><a href="http://www.gsw100.com/share/5998" target="_blank"><img src="../images/sha_s03.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5998" target="_blank" title="贵州特产-野生小黑木耳——干货小碗耳">贵州特产-野生小黑木耳——干货小碗耳</a><span>￥11.80</span></div>
      </li>
      <li>
       <div class="num">4</div>
       <div class="img"><a href="http://www.gsw100.com/share/6002" target="_blank"><img src="../images/sha_s04.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6002" target="_blank" title="贵州特产-山里妹茶树菇干货——煲汤好食材">贵州特产-山里妹茶树菇干货——煲汤好食材</a><span>￥25.80</span></div>
      </li>
      <li>
       <div class="num">5</div>
       <div class="img"><a href="http://www.gsw100.com/share/5999" target="_blank"><img src="../images/sha_s05.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/5999" target="_blank" title="贵州特产-山野珍品干货松茸——年夜饭煲汤">贵州特产-山野珍品干货松茸——年夜饭煲汤</a><span>￥68.00</span></div>
      </li>
      <li>
       <div class="num">6</div>
       <div class="img"><a href="http://www.gsw100.com/share/6000" target="_blank"><img src="../images/sha_s06.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6000" target="_blank" title="贵州特产-野生椴木花菇—— 特级香菇 食用菌山货">贵州特产-野生椴木花菇—— 特级香菇 食用菌山货</a><span>￥72.40</span></div>
      </li>
      <li>
       <div class="num">7</div>
       <div class="img"><a href="http://www.gsw100.com/share/6001" target="_blank"><img src="../images/sha_s07.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6001" target="_blank" title="贵州特产-土家特产六龙山山竹笋——纯天然无污染绿色食品">贵州特产-土家特产六龙山山竹笋——纯天然无污染绿色食品</a><span>￥19.90</span></div>
      </li>
     </ul>
    </div>
   </div>
   <div class="con_fl fl05">
    <h2 id="fl05">贵州聚味</h2>
    <div class="con_left">
     <ul>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/store/6580" target="_blank"><img src="../images/wei_b01.jpg"/></a></div>
       <div class="p_text"><span>新凯里时尚酸汤鱼</span><a href="http://www.gsw100.com/store/6580" target="_blank">仅售128元，享价值271元的新凯里时尚酸汤鱼4人餐</a></div>
       <div class="p_an"><span>￥<i>128</i></span><a href="http://www.gsw100.com/store/6580" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/store/1020" target="_blank"><img src="../images/wei_b02.jpg"/></a></div>
       <div class="p_text"><span>拿渡麻辣香锅</span><a href="http://www.gsw100.com/store/1020" target="_blank">仅售59.9元，享价值99元的拿渡麻辣香锅双人餐</a></div>
       <div class="p_an"><span>￥<i>59.90</i></span><a href="http://www.gsw100.com/store/1020" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/store/6581" target="_blank"><img src="../images/wei_b03.jpg"/></a></div>
       <div class="p_text"><span>丝缘特色原汤丝娃娃</span><a href="http://www.gsw100.com/store/6581" target="_blank">仅售28.8元，享价值58元的丝缘特色丝娃娃双人餐</a></div>
       <div class="p_an"><span>￥<i>28.80</i></span><a href="http://www.gsw100.com/store/6581" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/store/6582" target="_blank"><img src="../images/wei_b04.jpg"/></a></div>
       <div class="p_text"><span>习水特色豆腐皮火锅</span><a href="http://www.gsw100.com/store/6582" target="_blank">仅售38元，享价值58元的习水特色豆腐皮火锅双人餐</a></div>
       <div class="p_an"><span>￥<i>38</i></span><a href="http://www.gsw100.com/store/6582" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/store/1159" target="_blank"><img src="../images/wei_b05.jpg"/></a></div>
       <div class="p_text"><span>独味乌江片片鱼</span><a href="http://www.gsw100.com/store/1159" target="_blank">仅售49元，享价值104元的独味乌江片片鱼4人餐</a></div>
       <div class="p_an"><span>￥<i>49</i></span><a href="http://www.gsw100.com/store/1159" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
      <li>
       <div class="p_img"><a href="http://www.gsw100.com/store/6583" target="_blank"><img src="../images/wei_b06.jpg"/></a></div>
       <div class="p_text"><span>但家香酥鸭</span><a href="http://www.gsw100.com/store/6583" target="_blank">仅售39.9元，享价值56元的但家香酥鸭3-4人餐</a></div>
       <div class="p_an"><span>￥<i>39.90</i></span><a href="http://www.gsw100.com/store/6583" target="_blank"><img src="../images/annew.png"/></a></div>
      </li>
     </ul>
    </div>
    <div class="con_right">
     <h3>小编推荐</h3>
     <div class="sicon"></div>
     <ul>
      <li>
       <div class="num">1</div>
       <div class="img"><a href="http://www.gsw100.com/share/6003" target="_blank"><img src="../images/wei_s01.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6003" target="_blank" title="贵州特产-自制上等五花肉——精制脆哨">贵州特产-自制上等五花肉——精制脆哨</a><span>￥26.80</span></div>
      </li>
      <li>
       <div class="num">2</div>
       <div class="img"><a href="http://www.gsw100.com/share/6004" target="_blank"><img src="../images/wei_s02.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6004" target="_blank" title="贵州特产-贵阳辣子鸡——龙大哥辣子鸡1420g">贵州特产-贵阳辣子鸡——龙大哥辣子鸡1420g</a><span>￥138.00</span></div>
      </li>
      <li>
       <div class="num">3</div>
       <div class="img"><a href="http://www.gsw100.com/share/6005" target="_blank"><img src="../images/wei_s03.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6005" target="_blank" title="贵州特产-镇宁波波糖——黄果树旅游特产花生味波波糖">贵州特产-镇宁波波糖——黄果树旅游特产花生味波波糖</a><span>￥10.50</span></div>
      </li>
      <li>
       <div class="num">4</div>
       <div class="img"><a href="http://www.gsw100.com/share/6006" target="_blank"><img src="../images/wei_s04.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6006" target="_blank" title="贵州红色旅游食品-开阳麻辣土豆丝——休闲零食薯条">贵州红色旅游食品-开阳麻辣土豆丝——休闲零食薯条</a><span>￥5.90</span></div>
      </li>
      <li>
       <div class="num">5</div>
       <div class="img"><a href="http://www.gsw100.com/share/6007
" target="_blank"><img src="../images/wei_s05.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6007
" target="_blank" title="正宗贵州古方红糖-农家土红糖——女生月子痛经补血">正宗贵州古方红糖-农家土红糖——女生月子痛经补血</a><span>￥9.90</span></div>
      </li>
      <li>
       <div class="num">6</div>
       <div class="img"><a href="http://www.gsw100.com/share/3348" target="_blank"><img src="../images/wei_s06.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/3348" target="_blank" title="贵州遵义特产-不丢手糯玉米花爆米花休闲美食">贵州遵义特产-不丢手糯玉米花爆米花休闲美食</a><span>￥7.00</span></div>
      </li>
      <li>
       <div class="num">7</div>
       <div class="img"><a href="http://www.gsw100.com/share/6008
" target="_blank"><img src="../images/wei_s07.jpg"/></a></div>
       <div class="text"><a href="http://www.gsw100.com/share/6008
" target="_blank" title="贵州农家自制干豆豉 盐味干纳豆 特色调味料250g">贵州农家自制干豆豉 盐味干纳豆 特色调味料250g</a><span>￥8.50</span></div>
      </li>
     </ul>
    </div>
   </div>
   
   <div id="floor">
    <div class="green">
     <ul class="download xfz">
      <li><a href="http://gsw100.com/download/consumer" target="_blank">Android下载</a></li>
      <li><a href="https://itunes.apple.com/cn/app/gui-ke/id680993772?ls=1&mt=8" target="_blank">iPhone下载</a></li>
     </ul>
     <ul class="download sh">
      <li><a href="http://gsw100.com/download/store/android" target="_blank">Android下载</a></li>
      <li><a href="https://itunes.apple.com/cn/app/gui-ke-shang-hu-ban/id668880513?ls=1&mt=8" target="_blank">iPhone下载</a></li>
     </ul>
     <div class="wb"><a href="http://e.weibo.com/guishangwang" target="_blank"><img src="../images/sina_wb.png"/></a></div>
    </div>
   </div>
   
   
 </div>

<footer id="footer_box">
  <div class="footer_con">
 <section class="linklist">
  <h3>关于我们</h3>
  <ul>
      <li><a href="/aboutus_gsw">贵商网</a></li>
      <li><a href="/aboutus_contact">联系我们</a></li>
      <li><a href="/aboutus_store">商家入驻</a></li>
      <li><a href="/aboutus_help">帮助中心</a></li>
     </ul>
 </section>
 <section class="linklist">
  <h3>移动应用</h3>
  <ul>
      <li><a target="_blank" class="phonedown" href="/phone">Android版</a></li>
      <li><a target="_blank" class="phonedown" href="/phone">iphone版</a></li>
     </ul>
 </section>
 <section class="linklist">
  <h3>关注我们</h3>
  <ul>
   <li><a href="http://e.weibo.com/guishangwang" target="_blank">新浪微博</a></li>
  </ul>
 </section>
 <section class="linklist">
  <h3>友情链接</h3>
  <ul>
   <li><a href="http://www.72ec.com" target="_blank">亿禧网</a></li>
  </ul>
 </section>
 <div class="footer_logo"><a href="/"><img width="142" height="50" src="http://gsw100.com/sites/all/themes/guike/logo.png"></a></div>
</div>

</footer>
</body>
</html>
