<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/phonedown.css" type="text/css" rel="stylesheet">
</head>

<body>


 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
    <!--<div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="首页.html">首页</a></li>
     <li><a target="_blank" href="网购精选.html">网购精选</a></li>
     <li><a target="_blank" href="周边优惠.html">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol style="display:none;">
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div class="phonedown_banner_top"><img src="../images/phonedown_banner.jpg"/></div>
 <div id="content">
  <div class="phonedowncon wrap_border col space">
  <div class="gkjs_box">
    <div class="left_box">
     <div class="icon"><img src="../images/phonedown_icon_x.png"/></div>
     <h2>贵客——消费者版</h2>
     <p>贵客”消费者版“让您省时省力、随时随地了解当地休闲娱乐资讯，可以搜索您附近的优惠信息，商家信息，并且享受贵客用户的专属购物优惠。</p>     
    </div>
    <div class="right_box">
     <div class="icon"><img src="../images/phonedown_icon_s.png"/></div>
     <h2>贵客——商户版</h2>
     <p>“贵客“商户版”帮助商家低成本推广，点对点精准营销。商家可以通过”贵客“商家版随时随地发布、维护商品信息和优惠信息。</p>
    </div>
  </div>
  
  <div class="gkdown_box">
    <div class="left_side">
     <h3>下载到电脑后安装至手机</h3>
     <div class="download">
      <a href="" class="android">android下载</a>
      <a href="" class="iphone">iphone下载</a>
     </div>
     <div class="scan">
      <p><img src="../images/scan_grb.png"/></p>
      <p class="txt">扫描二维码下载</p>
     </div>
    </div>
    <div class="right_side">
     <h3>下载到电脑后安装至手机</h3>
     <div class="download">
      <a href="" class="android">android下载</a>
      <a href="" class="iphone">iphone下载</a>
     </div>
     <div class="scan">
      <p><img src="../images/scan_shb.png"/></p>
      <p class="txt">扫描二维码下载</p>
     </div>
    </div>
  </div>
 </div>
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
