<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_register.css" type="text/css" rel="stylesheet">
</head>


<body>
 <header>
  
<div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
    <!--<div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="首页.html">首页</a></li>
     <li><a target="_blank" href="网购精选.html">网购精选</a></li>
     <li><a target="_blank" href="周边优惠.html">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol>
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
  <div class="register_box wrap_border">
   <h1>欢迎注册贵商网</h1>
   <div class="register_left">
    <ul>
     <li class="seclect"><a href="注册.html">手机号码注册</a></li>
     <li><a href="电子邮箱注册.html">电子邮箱注册</a></li>
    </ul>
    <div class="register_form">
     <div class="field">
      <label>我的手机号：</label>
      <input type="text" value="" class="text r3" name="" maxlength="36" id="">      
     </div>
     <div class="field">
      <label>验证码：</label>
      <input type="text" value="" class="text r3 yz" name="" maxlength="20" id="">
      <span class="yzm"><img src="../images/yzm.png"/></span><a class="cf" href="">换一张</a><a class="sj_yzm" href="">点击获取验证码</a>
     </div>
     <div class="field">
      <label>手机验证：</label>
      <input type="text" value="" class="text r3 yz" name="" maxlength="20" id="">
      <span>十分钟内未收到</span><a class="cf" href="">点击重发</a>
     </div>
     <div class="field">
      <label>昵称：</label>
      <input type="text" value="" class="text r3" name="" maxlength="36" id="">
     </div>
     <div class="field">
      <label>密码：</label>
      <input type="text" value="" class="text r3" name="" maxlength="36" id="">
     </div>
     <div class="field">
      <label>确认密码：</label>
      <input type="text" value="" class="text r3" name="" maxlength="36" id="">
     </div>
     <div class="field">
      <label>常居地：</label>
      <select id=""><option value="">贵州</option></select>
      <select id=""><option value="">贵阳</option></select>   
     </div>
     <div class="ipt_box">
      <input type="checkbox" checked="checked" name="" class="box">
      <span>我已阅读并接受<a href="">《贵商网服务协议》</a></span>
     </div>
     <div class="ipt_sub"><a class="sub" href="邮件注册后提示.html" target="_blank">立即注册</a><!--<input type="submit" value="立即注册" class="sub">--></div>
    </div>
   </div>
   <div class="register_right">
    <div class="rst_login">
      <span>已经有帐号？请直接登录</span>
      <a href="登录.html">登录</a>
    </div>
    <div class="other_login">
      <span>您也可以用以下方式登录：</span>
      <a href="" class="sina_icon">新浪微博</a>
    </div>
   </div>
  </div>
 
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
