<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_szb_list.css" type="text/css" rel="stylesheet">
</head>

<body>
<script>
function showDaTu(src){
document.getElementById("defaultImg").src=src;
}
</script>

 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
    <!--<div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="">首页</a></li>
     <li><a target="_blank" href="">网购精选</a></li>
     <li><a target="_blank" href="" class="seclect">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol style="display:none;">
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
  <nav class="path">
   <ul>
    <li><a href="首页.html" target="_blank">贵商网</a>></li>
    <li><a href="周边优惠.html" target="_blank">周边优惠</a>></li>
    <li><a href="周边优惠_列表页.html" target="_blank">餐饮美食</a>></li>
    <li class="current">商家</li>
   </ul>
  </nav>
  <div class="szbconbox space">
   <div class="con_left">
    <div class="assort wrap_border space">
     <div class="assortlist">
      <label>分类</label>
      <a href="" class="all">全部</a>
      <ul>
       <li><a>生活服务</a></li>
       <li><a>购物</a></li>
       <li><a>运动健身</a></li>
       <li><a class="seclect">餐饮美食</a></li>
       <li><a>休闲娱乐</a></li>
      </ul>
     </div>
     <div class="assortlist">
      <label>区域</label>
      <a href="" class="all">全部</a>
      <ul>
       <li><a href="" target="_blank">南明区</a></li>
       <li><a href="" target="_blank">白云区</a></li>
       <li><a href="" target="_blank">乌当区</a></li>
       <li><a href="" target="_blank">花溪区</a></li>
       <li><a href="" target="_blank">小河区</a></li>
       <li><a href="" target="_blank">金阳新区</a></li>
      </ul>
     </div>
    </div>
    <div class="sjxx wrap_border space">
     <h1>渝北酸菜鸡</h1>
     <div class="sjxx_attention">
      <p>商家已受到关注：<em>291</em>商家累计优惠信息：<em>5</em>总评价数：<em>90</em>好评数：<em>50</em></p>
      <a href="" target="_blank" class="btn_01">已关注</a>
     </div>
     <div class="sjxx_info">
      <p>门店地址：<span>贵阳市九龙坡区西郊三村2号九龙广场沃尔玛4楼(动物园对面)</span></p>
      <p>门店电话：<span>023-68784899 023-68785588</span></p>
      <p>营业时间：<span>09：00-22：00</span></p>
      <p>基础折扣：<span>9.0</span></p>
     </div>
     <div class="sjpic_big"><img id="defaultImg" src="../images/pic200x133.png" data-pinit="registered"></div>
     <ul class="sjpic">
      <li><a href=""><img src="../images/pic130x86.png" onMouseOver="showDaTu('../images/pic200x133.png')"/></a></li>
      <li><a href=""><img src="../images/test_s.png" onMouseOver="showDaTu('../images/test_b.png')"/></a></li>
      <li><a href=""><img src="../images/test_s1.png" onMouseOver="showDaTu('../images/test_b1.png')"/></a></li>
      <li><a href=""><img src="../images/pic130x86.png" onMouseOver="showDaTu('../images/pic200x133.png')"/></a></li>
      <li><a href=""><img src="../images/test_s.png" onMouseOver="showDaTu('../images/test_b.png')"/></a></li>
     </ul>
     

    </div>
    <div class="newsale wrap_border space">
     <h2>最新促销</h2>
     <div class="sale_title">享活鸡8.8折 送2份汤菜,仅售88元,价值232元4人套餐!</div>
     <div class="sale_con">
      <div class="sale_info">
       <p>A.酸菜鸡汤锅免费送2份汤菜;<br>B.活鸡8.8折;<br>AB. 不能同享,不与店内优惠同享,节假日通用;</p>
       <p class="sale_tips"><em>促销有效期</em>2013年3月11日-5月12日</p>
       <p class="sale_tips"><em>使用限制</em>本优惠券不与其他活动同享</p>
       <p class="pic"><img src="../images/pic480x218.jpg"/></p>
      </div>
      <div class="sale_hz">
       <p class="code">凭手机贵客身份二维码,到店享优惠</p>
       <p><a href="" target="_blank">已收藏</a></p>
      </div>
     </div>
    </div>
     <div class="newsale wrap_border space">
     <h2>更多促销</h2>
     <ul class="more_sale">
      <li>
       <div class="more_title">
        <div class="title">享活鸡8.8折 送2份汤菜,仅售88元,价值232元4人套餐!</div>
        <div class="annew"><a class="down" href="生效促销.html">详情</a></div>
       </div>
       <div class="sale_con" style="display:none;">
        <div class="sale_info">
         <p>A.酸菜鸡汤锅免费送2份汤菜;<br>B.活鸡8.8折;<br>AB. 不能同享,不与店内优惠同享,节假日通用;</p>
         <p class="sale_tips"><em>促销有效期</em>2013年3月11日-5月12日</p>
         <p class="sale_tips"><em>使用限制</em>本优惠券不与其他活动同享</p>
         <p class="pic"><img src="../images/pic480x218.jpg"/></p>
        </div>
        <div class="sale_hz">
         <p class="code">凭手机贵客身份二维码,到店享优惠</p>
         <p><a href="" target="_blank">还不错，先收藏</a></p>
        </div>
       </div>
      </li>
      <li>
       <div class="more_title">
        <div class="title">享活鸡8.8折 送2份汤菜,仅售88元,价值232元4人套餐!</div>
        <div class="annew"><a class="down" href="">详情</a></div>
       </div>
      </li>
     </ul>
    </div>
    <div class="user_pj wrap_border space">
     <ul class="user_pj_nav">
      <li class="seclect"><a href="">用户评价</a></li>
      <li><a href="#wypj">我要评价</a></li>
     </ul>
     <div class="pj_num">（总共35条评论）</div>
     <div class="user_pj_con">
       <ul>
        <li>
         <div class="user_pic"><a href="个人主页.html" target="_blank"><img src="../images/default_pic.png"/></a></div>
         <div class="user_text">
          <p class="sms">后来和朋友一起吃饭才慌误，味道很好，比较地道，人气还是不错，还有排队的现象，不过我们预定了，所以不用等•••• </p>
          <p><a href="个人主页.html" target="">飞不起来的鱼</a><span>2013.05.01</span></p>
         </div>
        </li>
        <li class="os">
         <div class="user_pic"><a href="个人主页.html" target="_blank"><img src="../images/default_pic.png"/></a></div>
         <div class="user_text">
          <p class="sms">后来和朋友一起吃饭才慌误，味道很好，比较地道，所以不用等•••• </p>
          <p><a href="个人主页.html" target="">飞不起来的鱼</a><span>2013.05.01</span></p>
         </div>
        </li>
         <li>
         <div class="user_pic"><a href="" target="_blank"><img src="../images/default_pic.png"/></a></div>
         <div class="user_text">
          <p class="sms">后来和朋友一起吃饭才慌误，味道很好，比较地道，人气还是不错，还有排队的现象，不过我们预定了，所以不用等•••• </p>
          <p><a href="" target="">飞不起来的鱼</a><span>2013.05.01</span></p>
         </div>
        </li>
        <li class="os">
         <div class="user_pic"><a href="" target="_blank"><img src="../images/headimg.png"/></a></div>
         <div class="user_text">
          <p class="sms">后来和朋友一起吃饭才慌误，味道很好，比较地道，人气还是不错，还有排队的现象，不过我们预定了，所以不用等•••• </p>
          <p><a href="" target="">飞不起来的鱼</a><span>2013.05.01</span></p>
         </div>
        </li>
         <li>
         <div class="user_pic"><a href="" target="_blank"><img src="../images/default_pic.png"/></a></div>
         <div class="user_text">
          <p class="sms">后来和朋友一起吃饭才慌误，味道很好，比较地道，人气还是不错，还有排队的现象，不过我们预定了，所以不用等后来和朋友一起吃饭才慌误，味道很好，比较地道，人气还是不错，还有排队的现象，不过我们预定了，所以不用等•••• </p>
          <p><a href="" target="">飞不起来的鱼</a><span>2013.05.01</span></p>
         </div>
        </li>
       </ul>
     </div>
     <div class="pj_number">
   <div class="pageNav">
    <a class="pagePrev" href=""><上一页</a>
    <a class="currentpage" href="">9</a>
    <a href="">10</a>
    <a href="">11</a>
    <a href="">12</a>
    <a href="">13</a>
    <a href="">14</a>
    <a href="">15</a>
    <a href="">16</a>
    <a href="">17</a>
    <i>...</i>
    <a href="">55</a>
    <a class="pageNext" href="">下一页></a>
   </div>
  </div> 
     <div id="wypj">
      <h3>我要评价</h3>
      <div class="pj_form">
       <p>
         <input type="radio" value="" class="radio" name=""id=""><span>好评</span>
         <input type="radio" value="" class="radio" name=""id=""><span>差评</span>
       </p>
       <p>
        <a href="">环境太差了</a><a href="">难吃</a><a href="">商品质量有问题</a><a href="">售后服务不好</a><a href="">价格贵得离谱</a><a href="">环境太差了</a><a href="">再也不会来第二次了</a><a href="">根本没有优惠</a>
       </p>
       <p>
        <textarea def-v="" class="pub_txt">环境太差了</textarea>
       </p>
       <p><input type="submit" value="发表" class="sub"></p>
      </div> 
     </div>
     
    </div>
    
   </div>
   <div class="con_right">
    
    
    <div class="hotlist wrap_border space">
    <h3>周边热点排行</h3>
    <ol>
     <li class="highlight"><span>1</span><b>小肥羊</b>情侣套餐</li>
     <li class="highlight open"><p><span>2</span><b>小肥羊</b>情侣套餐</p>
      <div class="openbox">
      <div class="img"><a href="生效促销.html" target="_blank"><img src="../images/pic60x60.png"/></a></div>
      <div class="txt"><a href="生效促销.html" target="_blank">小肥羊情侣套餐</a><p>情侣套餐买一送一情侣套餐买一送一情侣套餐买一送一</p></div>
     </div>
     </li>
     <li><span>4</span><b>小肥羊</b>情侣套餐</li>
     <li><span>5</span><b>小肥羊</b>情侣套餐</li>
     <li class="last"><span>6</span><b>小肥羊</b>情侣套餐</li>     
    </ol>
   </div>
    <div class="shoplist wrap_border space">
    <h3>品牌商家</h3>
    <div class="shop_ad">
     <ul>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
     </ul>
    </div>
   </div>
   <div class="tips wrap_border space">
    <h3>温馨提示</h3>
    <p>1、除特殊注明外，本优惠不能与其他优惠同时享受；</p>
    <p>2、本优惠由商家提供，如有疑问请与商家联系；</p>
   </div>
    <div class="tips wrap_border space">
    <h3>意见反馈</h3>
    <p>贵商网乐意倾听您的任何想法</p>
    <p><a href="意见反馈.html" target="_blank">提交意见反馈》</a></p>
   </div>
   </div>
  </div> 

  
  
  
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
