<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_xwg_details.css" type="text/css" rel="stylesheet">
</head>

<body>
 <div id="floating">
  <a href="">回顶部</a>
 </div>

 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="/"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="" class="login" target="_blank">登录</a><a href="" class="register" target="_blank">注册</a></div>
    <!--<div class="topright"><a href="" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="" class="center" target="_blank">个人中心</a><a href="" class="center" target="_blank">商家中心</a><a class="message" href="" target="_blank">消息(3)</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="">首页</a></li>
     <li><a target="_blank" href="" class="seclect">网购精选</a></li>
     <li><a target="_blank" href="">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span>
       <span class="icon"></span>
       <ol style="display:none;">
        <li><a href="">搜商品</a></li>
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
  <div class="detailsbox wrap_border col">
   <div class="left_side">
    <div class="details_pic">
     <a href="点击后，跳转到商品对应的淘宝页面" target="_blank"><img src="../images/pic436x.jpg"/></a>
    </div>
    <div class="guess_like">
     <h2>猜您喜欢</h2>
     <ul>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic151x151.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic151x151.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic151x151.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic151x151.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic151x151.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic151x151.png"/></a></li>
     </ul>
    </div>
   </div>
   <div class="right_side">
    <section class="details_txt">
     <h1><a href="点击后，跳转到商品对应的淘宝页面" target="_blank">夏季新款韩版网纱背心长裙 修身飘逸长款连衣裙海边度假沙滩裙</a></h1>
     <p>小清新最爱的店铺，物美价优。这件衣服真是中意，一整片风琴褶上星星点点缀着珠子。质感的 雪纺，舒爽耐用。不管是约会、通勤都合适穿</p>
     <p class="shopinfo"><img src="../images/taobao.gif" border="0"/><span>评价数<em>345</em></span><span>服务平均分<em>4.5分</em></span><span>好评度<em>98.5%</em></span><span>卖家等级<img class="rank" border="0" src="../images/s_blue_5.gif"/></span></p>
     <p class="buy"><a href="点击后，跳转到商品对应的淘宝页面" class="price">￥ 169.00  去购买</a><span>已售出24件</span></p>
    </section>
    <div class="details_share">
      <span>由<a href="个人主页.html" target="_blank">飞不起来的鱼</a>分享</span>
      <span class="like"><a href="" target="_blank">喜欢</a>24</span>
      <span class="share">分享到<a href="" class="sina">新浪</a></span>
    </div>
    <div class="pub_area">
        <div class="pub_area_bd">
            <textarea def-v="你也可以顺便说点什么 O(∩_∩)O" class="pub_txt">你也可以顺便说点什么 O(∩_∩)O</textarea>
        </div>
        <div class="pub_area_ft">
            <div class="pub_opt">
                <a class="add_face_new" href=""><img src="../images/icon_bq.png"/></a>
            </div>
            <a class="red_btn" href="">发 表</a>
            <div class="reply_ok" style="display:none;">发表成功</div>
        </div>
        
    </div>
    <div class="note_comment">
      <ul>
        <li>
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">好看，喜欢<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="网购精选_商品详情_回复商品评论.html">回复</a>
		</div>
        </li>
        <li class="hover">
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">感觉很不错喜欢喔感觉很不错喜欢喔感觉很不错喜欢喔感觉很不错<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="网购精选_商品详情_回复商品评论.html">回复</a>
		</div>
        </li>
        <li>
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">好看，喜欢<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="">回复</a>
		</div>
        </li>
        <li>
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">好看，喜欢<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="">回复</a>
		</div>
        </li>
        <li>
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">好看，喜欢<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="">回复</a>
		</div>
        </li>
        <li>
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">感觉很不错喜欢喔感觉很不错喜欢喔喜欢喔感觉很不错喜欢喔喜欢喔感觉很不错喜欢喔感觉很不错喜欢喔感觉很不错喜欢喔<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="">回复</a>
		</div>
        </li>
        <li>
         <a href="" target="_blank"><img class="head_img" src="../images/headimg.png"/></a>
         <p class="sms"><a class="n" href="个人主页.html" target="">飞不起来的鱼</a></p>
         <p class="sms">好看，喜欢<span>　　昨天 21:57</span></p>
         <div class="reply">
			<a href="">回复</a>
		</div>
        </li>
      </ul>
      <div class="page_number">
     <div class="pageNav">
    <a class="pagePrev" href=""><上一页</a>
    <a class="currentpage" href="">9</a>
    <a href="">10</a>
    <a href="">11</a>
    <a href="">12</a>
    <a href="">13</a>
    <i>...</i>
    <a href="">55</a>
    <a class="pageNext" href="">下一页></a>
     </div>
    </div> 
    </div>
    
   </div>
   
  </div>
  
  
 
 </div> <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="" target="_blank">贵商网</a></li>
     <li><a href="" target="_blank">联系我们</a></li>
     <li><a href="" target="_blank">商家入驻</a></li>
     <li><a href="" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="" target="_blank">安卓版</a></li>
     <li><a href="" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="#"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
