<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>贵商网 | 贵州人的贵客生活</title>
<link media="all" href="../css/base_header.css" type="text/css" rel="stylesheet">
<link media="all" href="../css/page_index.css" type="text/css" rel="stylesheet">
</head>

<body>
 <div id="floating">
  <a href="">回顶部</a>
 </div>

 <header>
  <div id="header_top">
   <div class="headerbox">
    <div id="logo"><a href="http://www.gsw100.com"><img src="../images/logo_gsw.png" width="142" height="50" /></a><sub>贵州人的贵客生活</sub></div>
    <!--未登录状态-->
    <div class="topright"><a href="手机版.html" class="phonedown" target="_blank">手机版</a><span>|</span><a href="" class="sina" target="_blank">微博登录</a><a href="登录.html" class="login" target="_blank">登录</a><a href="注册.html" class="register" target="_blank">注册</a></div>
    <!--已登录状态-->
    <!--<div class="topright"><a href="手机版.html" class="phonedown" target="_blank">手机版</a><span>|</span><div class="loginafter"><span>苏安suans,您好！</span><a href="个人中心.html" class="center" target="_blank">个人中心</a><a href="商家中心_基本资料.html" class="center" target="_blank">商家中心</a><a class="center" href="">退出</a></div></div>-->
   </div>
  </div>
  <div class="header_nav">
   <div class="navbox">
    <nav>
    <ul class="nav">
     <li class="nav_first"><a target="_blank" href="首页.html" class="seclect">首页</a></li>
     <li><a target="_blank" href="网购精选.html">网购精选</a></li>
     <li><a target="_blank" href="周边优惠.html">周边优惠</a></li>
    </ul>
    </nav>
    <div class="navright">
     <a href="分享商品.html" class="show" target="_blank">+晒宝贝</a>
     <div class="search_form">
      <div class="selectbox">
       <span class="selected">搜优惠</span><!--链接到"周边优惠_搜索页.html"-->
       <span class="icon"></span>
       <ol>
        <li><a href="网购精选_搜索页.html">搜商品</a></li><!--链接到"网购精选_搜索页.html"-->
       </ol>
      </div>
     <input type="text" value="输入关键词，找到你所想！" class="ts_txt">
     <input type="submit" class="ts_btn" value="">
     </div>
    </div>   
   </div>
  </div>
 </header>
 
 <div id="content">
  <div id="ad_banner_top"><a href="#" target="_blank"><img src="../images/ad_banner.png" width="980" height="90"/></a></div>
  <div class="wrap_border col space">
   <div class="focuspic"><img src="../images/focus_ts.jpg"/></div>
   <div class="toplist">
    <h3>周边热点排行</h3>
    <ol>
     <li class="highlight"><span>1</span><b>小肥羊</b>情侣套餐</li>
     <li class="highlight open"><p><span>2</span><b>小肥羊</b>情侣套餐</p>
      <div class="openbox">
      <div class="img"><a href="生效促销.html" target="_blank"><img src="../images/pic60x60.png"/></a></div>
      <div class="txt"><a href="生效促销.html" target="_blank">小肥羊情侣套餐</a><p>情侣套餐买一送一情侣套餐买一送一情侣套餐买一送一</p></div>
     </div>
     </li>
     <li><span>4</span><b>小肥羊</b>情侣套餐</li>
     <li><span>5</span><b>小肥羊</b>情侣套餐</li>
     <li class="last"><span>6</span><b>小肥羊</b>情侣套餐</li>     
    </ol>
   </div>
  </div>
  
  <div class="wrap_border col space">
   <div class="newsale">
    <h2><a class="title" href="周边优惠.html" target="_blank">最新<strong>商家优惠</strong></a><a href="周边优惠.html" target="_blank" class="more">更多</a></h2>
    <ul>
     <li>
      <div class="img"><a href="#" target="_blank"><img src="../images/pic200x133.png"/></a></div>
      <div class="txt">
       <a href="生效促销.html" target="_blank">多功能分体式加厚玻璃智能食疗美颜养生壶</a>
       <p>仅售198元，价值238元自助晚餐！江北希尔顿逸林酒店旗下，品味全日制餐厅！玲琅满目美馔，徜徉食尚风暴！</p>
       <p class="name">俏江南（北城国际店）</p>
       <p><span class="first"><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span><span>基础折扣率：<strong>9.9</strong>折</span><a class="collect">收藏</a></p>
       <div class="collect_ok" style="display:block;"><span>收藏成功</span></div>
      </div>
     </li>
     <li>
      <div class="img"><a href="#" target="_blank"><img src="../images/pic200x133.png"/></a></div>
      <div class="txt">
       <a href="生效促销.html" target="_blank">多功能分体式加厚玻璃智能食疗美颜养生壶</a>
       <p>仅售198元，价值238元自助晚餐！江北希尔顿逸林酒店旗下，品味全日制餐厅！玲琅满目美馔，徜徉食尚风暴！</p>
       <p class="name">俏江南（北城国际店）</p>
       <p><span class="first"><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span><span>基础折扣率：<strong>9.9</strong>折</span><a class="collect">收藏</a></p>
      </div>
     </li>
     <li>
      <div class="img"><a href="#" target="_blank"><img src="../images/pic200x133.png"/></a></div>
      <div class="txt">
       <a href="生效促销.html" target="_blank">多功能分体式加厚玻璃智能食疗美颜养生壶</a>
       <p>仅售198元，价值238元自助晚餐！江北希尔顿逸林酒店旗下，品味全日制餐厅！玲琅满目美馔，徜徉食尚风暴！</p>
       <p class="name">俏江南（北城国际店）</p>
       <p><span class="first"><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span><span>基础折扣率：<strong>9.9</strong>折</span><a class="collected">收藏</a></p>
       <div class="collect_del" style="display:block;"><span>取消收藏</span></div>
      </div>
     </li>
     <li class="last">
      <div class="img"><a href="#" target="_blank"><img src="../images/pic200x133.png"/></a></div>
      <div class="txt">
       <a href="生效促销.html" target="_blank">多功能分体式加厚玻璃智能食疗美颜养生壶</a>
       <p>仅售198元，价值238元自助晚餐！江北希尔顿逸林酒店旗下，品味全日制餐厅！玲琅满目美馔，徜徉食尚风暴！</p>
       <p class="name">俏江南（北城国际店）</p>
       <p><span class="first"><strong>5068</strong>人已享受优惠</span><span><strong>65536</strong>人已关注</span><span>基础折扣率：<strong>9.9</strong>折</span><a class="collected">收藏</a></p>
      </div>
     </li>
    </ul>
   </div>
   <div class="shoplist">
    <h3>品牌商家</h3>
    <div class="shop_ad">
     <ul>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
      <li><a href="" target="_blank"><img src="../images/pic125x54.png"/></a></li>
     </ul>
    </div>
   </div>
   <div class="buylist">
    <h3>网购流行榜</h3>
    <ol>
     <li class="highlight"><span>1</span>小肥羊情侣套餐</li>
     <li class="highlight open"><p><span>2</span>小肥羊情侣套餐</p>
     <div class="openbox">
      <div class="img"><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic60x60.png"/></a></div>
      <div class="txt"><a href="网购精选_商品详情.html" target="_blank">小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐</a><p>￥138</p></div>
     </div>
     </li>
     <li><span>4</span>小肥羊情侣套餐小肥羊情侣套餐小肥羊情侣套餐</li>
     <li><span>5</span>小肥羊情侣套餐</li>
     <li><span>6</span>小肥羊情侣套餐小肥羊情侣套餐</li>
     <li class="last"><span>7</span>小肥羊情侣套餐</li>     
    </ol>
   </div>
  </div>
 
  <div class="wrap_border col space">
   <div class="single_tb">
    <h2>
     <a class="title" href="网购精选.html" target="_blank">最新<strong>淘宝单品</strong></a>
     <ul class="classify">
      <li><a href="网购精选_商品列表.html" target="_blank">衣服</a></li>
      <li><a href="网购精选_商品列表.html" target="_blank">包包</a></li>
      <li><a href="网购精选_商品列表.html" target="_blank">配饰</a></li>
      <li><a href="网购精选_商品列表.html" target="_blank">鞋子</a></li>
     </ul>
     <a href="网购精选.html" target="_blank" class="more">更多</a>
    </h2>
    <div class="singlelist">
     <ul>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
      <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic123x138.png"/></a><p><a href="网购精选_商品详情.html">韩版平跟单鞋</a></p></li>
     </ul>
    </div>
   </div>
   <div class="relist">
    <h3>精选优惠推荐</h3>
    <ol>
     <li class="highlight"><span>1</span><b>小肥羊</b>情侣套餐</li>
     <li class="highlight open"><p><span>2</span><b>小肥羊</b>情侣套餐</p>
     <div class="openbox">
      <div class="img"><a href="生效促销.html" target="_blank"><img src="../images/pic60x60.png"/></a></div>
      <div class="txt"><a href="生效促销.html" target="_blank">小肥羊情侣套餐</a><p>情侣套餐买一送一情侣套餐买一送一情侣套餐买一送一</p></div>
     </div>
     </li>
     <li><span>4</span><b>小肥羊</b>情侣套餐</li>
     <li><span>5</span><b>小肥羊</b>情侣套餐</li>
     <li><span>6</span><b>小肥羊</b>情侣套餐</li>
     <li><span>7</span><b>小肥羊</b>情侣套餐</li>
     <li class="last"><span>8</span><b>小肥羊</b>情侣套餐</li>     
    </ol>
   </div>
 </div>
  
  <div class="wrap_border col space">
   <div class="groupbuy">
    <h2><a class="title" href="编辑推荐.html" target="_blank">编辑<strong>推荐</strong></a><a href="编辑推荐.html" target="_blank" class="more">更多</a></h2>
    <ul>
     <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic151x151.png"/></a><a href="网购精选_商品详情.html" class="pictitle">包包的造型很优雅，皮质高档；包型、颜色都很好搭配包包的造型很优雅，皮质高档；包型、颜色都很好搭</a><p class="price"><span>￥19</span></p></li>
    <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic151x151.png"/></a><a href="网购精选_商品详情.html" class="pictitle">包包的造型很优雅，皮质高档；包型、颜色都很好搭配</a><p class="price"><span>￥190</span></p></li>
     <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic151x151.png"/></a><a href="网购精选_商品详情.html" class="pictitle">包包的造型很优雅，皮质高档；包型、颜色都很好搭配</a><p class="price"><span>￥19</span></p></li>
     <li><a href="网购精选_商品详情.html" target="_blank"><img src="../images/pic151x151.png"/></a><a href="网购精选_商品详情.html" class="pictitle">包包的造型很优雅，皮质高档；包型、颜色都很好搭配</a><p class="price"><span>￥19</span></p></li>
    </ul>
   </div>
   <div class="ad_rightbottom">
    <a href="手机版.html"><img src="../images/ad_phonedown.jpg"/></a>
   </div>
  </div>
 
 </div>
 
 
 <footer id="footer_box">
  <div class="footer_con">
   <section class="linklist">
    <h3>关于我们</h3>
    <ul>
     <li><a href="关于我们_贵商网.html" target="_blank">贵商网</a></li>
     <li><a href="关于我们_联系我们.html" target="_blank">联系我们</a></li>
     <li><a href="关于我们_商家入驻.html" target="_blank">商家入驻</a></li>
     <li><a href="关于我们_帮助中心.html" target="_blank">帮助中心</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>移动应用</h3>
    <ul>
     <li><a href="手机版.html" target="_blank">安卓版</a></li>
     <li><a href="手机版.html" target="_blank">iphone版</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>关注我们</h3>
    <ul>
     <li><a href="" target="_blank">新浪微博</a></li>
     <li><a href="" target="_blank">腾讯微博</a></li>
    </ul>
   </section>
   <section class="linklist">
    <h3>友情链接</h3>
    <ul>
     <li><a href="" target="_blank">亿禧网</a></li>
    </ul>
   </section>
   <div class="footer_logo"><a href="http://www.gsw100.com" target="_blank"><img src="../images/logo_gsw.png" width="142" height="50" /></a></div>
  </div>
 </footer> 
</body>
</html>
