body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../手机版_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:20px;
    top:216px;
    width:940px;
    height:180px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:946px;
    height:186px;
}

.u1 {
    position:absolute;
    left:2px;
    top:82px;
    width:936px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../手机版_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:490px;
    top:416px;
    width:470px;
    height:394px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:476px;
    height:400px;
}

.u3 {
    position:absolute;
    left:2px;
    top:189px;
    width:466px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../手机版_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:520px;
    top:436px;
    width:120px;
    height:120px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u5 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:660px;
    top:440px;
    width:220px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:660px;
    top:476px;
    width:300px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../手机版_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:20px;
    top:416px;
    width:460px;
    height:394px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:466px;
    height:400px;
}

.u9 {
    position:absolute;
    left:2px;
    top:189px;
    width:456px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../手机版_files/u4_normal.png');
}

.u10_container {
    position:absolute;
    left:30px;
    top:436px;
    width:120px;
    height:120px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:120px;
}

.u11 {
    position:absolute;
    left:2px;
    top:52px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:170px;
    top:440px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:170px;
    top:476px;
    width:300px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:30px;
    top:725px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:30px;
    top:677px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16_line {
    background-image: url('../手机版_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u16 {
    position:absolute;
    left:20px;
    top:830px;
    width:932px;
    height:10px;
    
}

.u17_normal {
    background-image: url('../手机版_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u18 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../手机版_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:502px;
    top:131px;
    width:330px;
    height:22px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:28px;
}

.u21 {
    position:absolute;
    left:2px;
    top:3px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:840px;
    top:128px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../手机版_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../手机版_files/u26_normal.png');
}

.u26_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../手机版_files/u26_normal.png');
}

.u28_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../手机版_files/u26_normal.png');
}

.u30_container {
    position:absolute;
    left:30px;
    top:178px;
    width:90px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../手机版_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u33 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:502px;
    top:130px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:592px;
    top:134px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../手机版_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:768px;
    top:3px;
    width:25px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u37 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:793px;
    top:13px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:643px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:692px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:196px;
    top:870px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../手机版_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:297px;
    top:896px;
    width:25px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u43 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../手机版_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:297px;
    top:931px;
    width:25px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u45 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:332px;
    top:896px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:332px;
    top:935px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:457px;
    top:900px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../手机版_files/u36_normal.png');
}

.u49_container {
    position:absolute;
    left:432px;
    top:891px;
    width:25px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:196px;
    top:896px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:196px;
    top:922px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:196px;
    top:948px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:566px;
    top:900px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../手机版_files/u42_normal.png');
}

.u55_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u56 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../手机版_files/u44_normal.png');
}

.u57_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../手机版_files/u36_normal.png');
}

.u60_container {
    position:absolute;
    left:90px;
    top:0px;
    width:25px;
    height:30px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u61 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:196px;
    top:974px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:870px;
    top:178px;
    width:50px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:297px;
    top:633px;
    width:184px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../手机版_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:310px;
    top:677px;
    width:98px;
    height:98px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:98px;
}

.u66 {
    position:absolute;
    left:2px;
    top:41px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:30px;
    top:633px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_line {
    background-image: url('../手机版_files/u68_line.png');
}

.u68_line {
    position:absolute;
    left:0px;
    top:4px;
    width:440px;
    height:3px;
}

.u68 {
    position:absolute;
    left:30px;
    top:591px;
    width:440px;
    height:10px;
    
}

.u69 {
    position:absolute;
    left:513px;
    top:725px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u70 {
    position:absolute;
    left:513px;
    top:677px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u71 {
    position:absolute;
    left:781px;
    top:633px;
    width:181px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../手机版_files/u65_normal.png');
}

.u72_container {
    position:absolute;
    left:793px;
    top:677px;
    width:98px;
    height:98px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:98px;
    height:98px;
}

.u73 {
    position:absolute;
    left:2px;
    top:41px;
    width:94px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_line {
    background-image: url('../手机版_files/u74_line.png');
}

.u74_line {
    position:absolute;
    left:0px;
    top:4px;
    width:440px;
    height:3px;
}

.u74 {
    position:absolute;
    left:513px;
    top:591px;
    width:440px;
    height:10px;
    
}

.u75 {
    position:absolute;
    left:513px;
    top:633px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

