{#
/**
 * @params
 *  $data_url
 *
 * see template_proprecess_share_add_link($variables).
 * see guike_preprocess_share_add_link($variables).
 */
#}
<a target="_blank" class="show ajax-dialog"  dialog-width="785" data-title="晒宝贝" href="{{ url }}" data-url="{{ data_url }}">+晒宝贝</a>
