  <div class="assort wrap_border col space">
   <div class="assortlist">
    <label>分类</label>
    <a class="all" href="享网购.html">全部</a>
    {{ categories }}
   </div>
  </div>

<div class="share-waterfall4">
  {{ shares }}
</div>
