body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../二级分类_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:250px;
    width:713px;
    height:110px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:719px;
    height:116px;
}

.u1 {
    position:absolute;
    left:2px;
    top:47px;
    width:709px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:42px;
    top:326px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:30px;
    top:224px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:42px;
    top:268px;
    width:695px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../二级分类_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:78px;
    top:300px;
    width:701px;
    height:80px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:707px;
    height:86px;
}

.u6 {
    position:absolute;
    left:2px;
    top:32px;
    width:697px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../二级分类_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:250px;
    top:285px;
    width:100px;
    height:15px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:21px;
}

.u8 {
    position:absolute;
    left:2px;
    top:0px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:100px;
    top:316px;
    width:544px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

