body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../商品类别列表_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:250px;
    width:713px;
    height:270px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:719px;
    height:276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:127px;
    width:709px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../商品类别列表_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:46px;
    top:264px;
    width:180px;
    height:246px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:252px;
}

.u3 {
    position:absolute;
    left:2px;
    top:115px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../商品类别列表_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:46px;
    top:360px;
    width:180px;
    height:18px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:24px;
}

.u5 {
    position:absolute;
    left:2px;
    top:1px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../商品类别列表_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:753px;
    top:250px;
    width:240px;
    height:238px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:244px;
}

.u7 {
    position:absolute;
    left:2px;
    top:111px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:38px;
    top:535px;
    width:225px;
    height:334px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u9 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../商品类别列表_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u11 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../商品类别列表_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:502px;
    top:131px;
    width:330px;
    height:22px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:28px;
}

.u14 {
    position:absolute;
    left:2px;
    top:3px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:840px;
    top:128px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../商品类别列表_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u18 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../商品类别列表_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:30px;
    top:178px;
    width:90px;
    height:30px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u20 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../商品类别列表_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../商品类别列表_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:171px;
    top:183px;
    width:100px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../商品类别列表_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u26 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:502px;
    top:130px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:592px;
    top:134px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../商品类别列表_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u30 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../商品类别列表_files/u29_normal.png');
}

.u31_container {
    position:absolute;
    left:768px;
    top:3px;
    width:25px;
    height:30px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u32 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:793px;
    top:13px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:643px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:692px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:30px;
    top:224px;
    width:310px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:766px;
    top:308px;
    width:212px;
    height:136px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_line {
    background-image: url('../商品类别列表_files/u38_line.png');
}

.u38_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u38 {
    position:absolute;
    left:120px;
    top:1656px;
    width:650px;
    height:10px;
    
}

.u39_normal {
    background-image: url('../商品类别列表_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:330px;
    top:1665px;
    width:160px;
    height:37px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:37px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../商品类别列表_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:500px;
    top:1676px;
    width:50px;
    height:22px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:28px;
}

.u42 {
    position:absolute;
    left:2px;
    top:3px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:42px;
    top:803px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../商品类别列表_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:38px;
    top:535px;
    width:225px;
    height:258px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u45 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u46_container {
    position:absolute;
    left:273px;
    top:535px;
    width:225px;
    height:334px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u47 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../商品类别列表_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:275px;
    top:535px;
    width:222px;
    height:258px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u49 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:281px;
    top:803px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u51_container {
    position:absolute;
    left:522px;
    top:535px;
    width:225px;
    height:334px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u52 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:529px;
    top:807px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../商品类别列表_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:522px;
    top:535px;
    width:223px;
    height:262px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u55 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:206px;
    top:835px;
    width:46px;
    height:23px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:281px;
    top:839px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u59_container {
    position:absolute;
    left:441px;
    top:835px;
    width:46px;
    height:23px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:533px;
    top:843px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u62_container {
    position:absolute;
    left:685px;
    top:1093px;
    width:46px;
    height:23px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u64_container {
    position:absolute;
    left:38px;
    top:876px;
    width:225px;
    height:334px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u65 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../商品类别列表_files/u44_normal.png');
}

.u66_container {
    position:absolute;
    left:38px;
    top:877px;
    width:225px;
    height:258px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u67 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:46px;
    top:1147px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u69_container {
    position:absolute;
    left:273px;
    top:879px;
    width:225px;
    height:334px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u70 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../商品类别列表_files/u48_normal.png');
}

.u71_container {
    position:absolute;
    left:275px;
    top:879px;
    width:222px;
    height:258px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u72 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:281px;
    top:1147px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u74_container {
    position:absolute;
    left:522px;
    top:879px;
    width:225px;
    height:334px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u75 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:529px;
    top:1151px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../商品类别列表_files/u54_normal.png');
}

.u77_container {
    position:absolute;
    left:522px;
    top:879px;
    width:223px;
    height:262px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u78 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:46px;
    top:1183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u80_container {
    position:absolute;
    left:206px;
    top:1179px;
    width:46px;
    height:23px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u81 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:281px;
    top:1183px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u83_container {
    position:absolute;
    left:441px;
    top:1179px;
    width:46px;
    height:23px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u84 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:533px;
    top:1187px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u86_container {
    position:absolute;
    left:685px;
    top:1437px;
    width:46px;
    height:23px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u88_container {
    position:absolute;
    left:38px;
    top:1223px;
    width:225px;
    height:334px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u89 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../商品类别列表_files/u44_normal.png');
}

.u90_container {
    position:absolute;
    left:38px;
    top:1223px;
    width:225px;
    height:258px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u91 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:46px;
    top:1491px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u93_container {
    position:absolute;
    left:273px;
    top:1223px;
    width:225px;
    height:334px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u94 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../商品类别列表_files/u48_normal.png');
}

.u95_container {
    position:absolute;
    left:275px;
    top:1223px;
    width:222px;
    height:258px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u96 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:281px;
    top:1491px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../商品类别列表_files/u8_normal.png');
}

.u98_container {
    position:absolute;
    left:522px;
    top:1223px;
    width:225px;
    height:334px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u99 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:529px;
    top:1495px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../商品类别列表_files/u54_normal.png');
}

.u101_container {
    position:absolute;
    left:522px;
    top:1223px;
    width:223px;
    height:262px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u102 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:46px;
    top:1527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u104_container {
    position:absolute;
    left:206px;
    top:1523px;
    width:46px;
    height:23px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:281px;
    top:1527px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u107_container {
    position:absolute;
    left:441px;
    top:1523px;
    width:46px;
    height:23px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u108 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:533px;
    top:1531px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:350px;
    top:1620px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_line {
    background-image: url('../商品类别列表_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u111 {
    position:absolute;
    left:34px;
    top:1756px;
    width:932px;
    height:10px;
    
}

.u112_normal {
    background-image: url('../商品类别列表_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:753px;
    top:498px;
    width:240px;
    height:402px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:408px;
}

.u113 {
    position:absolute;
    left:2px;
    top:193px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:765px;
    top:509px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../商品类别列表_files/u115_normal.png');
}

.u115_container {
    position:absolute;
    left:753px;
    top:1292px;
    width:240px;
    height:100px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:106px;
}

.u116 {
    position:absolute;
    left:2px;
    top:42px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:765px;
    top:264px;
    width:180px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../商品类别列表_files/u118_normal.png');
}

.u118_container {
    position:absolute;
    left:784px;
    top:535px;
    width:126px;
    height:24px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:24px;
}

.u119 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../商品类别列表_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:784px;
    top:758px;
    width:146px;
    height:24px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u121 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../商品类别列表_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:753px;
    top:912px;
    width:240px;
    height:370px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:376px;
}

.u123 {
    position:absolute;
    left:2px;
    top:177px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:765px;
    top:923px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../商品类别列表_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:765px;
    top:949px;
    width:215px;
    height:312px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:312px;
}

.u126 {
    position:absolute;
    left:2px;
    top:148px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../商品类别列表_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:840px;
    top:1024px;
    width:70px;
    height:61px;
}

#u127_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:61px;
}

.u128 {
    position:absolute;
    left:2px;
    top:22px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../商品类别列表_files/u118_normal.png');
}

.u129_container {
    position:absolute;
    left:784px;
    top:949px;
    width:126px;
    height:24px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:24px;
}

.u130 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../商品类别列表_files/u118_normal.png');
}

.u131_container {
    position:absolute;
    left:784px;
    top:983px;
    width:126px;
    height:24px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:24px;
}

.u132 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../商品类别列表_files/u120_normal.png');
}

.u133_container {
    position:absolute;
    left:783px;
    top:1104px;
    width:146px;
    height:24px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u134 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../商品类别列表_files/u120_normal.png');
}

.u135_container {
    position:absolute;
    left:784px;
    top:1138px;
    width:146px;
    height:24px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u136 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../商品类别列表_files/u120_normal.png');
}

.u137_container {
    position:absolute;
    left:784px;
    top:1172px;
    width:146px;
    height:24px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u138 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../商品类别列表_files/u120_normal.png');
}

.u139_container {
    position:absolute;
    left:784px;
    top:1198px;
    width:146px;
    height:24px;
}

#u139_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u140 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../商品类别列表_files/u120_normal.png');
}

.u141_container {
    position:absolute;
    left:784px;
    top:1230px;
    width:146px;
    height:24px;
}

#u141_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u142 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:784px;
    top:956px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:784px;
    top:989px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:786px;
    top:1111px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:787px;
    top:1143px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:784px;
    top:1174px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148 {
    position:absolute;
    left:785px;
    top:1206px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149 {
    position:absolute;
    left:784px;
    top:1238px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:840px;
    top:1030px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:840px;
    top:1070px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../商品类别列表_files/u152_normal.png');
}

.u152_container {
    position:absolute;
    left:765px;
    top:535px;
    width:70px;
    height:67px;
}

#u152_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:67px;
}

.u153 {
    position:absolute;
    left:2px;
    top:26px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../商品类别列表_files/u154_normal.png');
}

.u154_container {
    position:absolute;
    left:769px;
    top:608px;
    width:66px;
    height:69px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:69px;
}

.u155 {
    position:absolute;
    left:2px;
    top:26px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../商品类别列表_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:769px;
    top:686px;
    width:66px;
    height:65px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:65px;
}

.u157 {
    position:absolute;
    left:2px;
    top:24px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../商品类别列表_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:769px;
    top:760px;
    width:66px;
    height:63px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:63px;
}

.u159 {
    position:absolute;
    left:2px;
    top:24px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../商品类别列表_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:769px;
    top:829px;
    width:66px;
    height:65px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:66px;
    height:65px;
}

.u161 {
    position:absolute;
    left:2px;
    top:24px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:840px;
    top:763px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:840px;
    top:686px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:840px;
    top:618px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:840px;
    top:540px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:839px;
    top:840px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:194px;
    top:1816px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../商品类别列表_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:295px;
    top:1842px;
    width:25px;
    height:25px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u169 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170_normal {
    background-image: url('../商品类别列表_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:295px;
    top:1877px;
    width:25px;
    height:25px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u171 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:330px;
    top:1842px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:330px;
    top:1881px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174 {
    position:absolute;
    left:455px;
    top:1846px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../商品类别列表_files/u29_normal.png');
}

.u175_container {
    position:absolute;
    left:430px;
    top:1837px;
    width:25px;
    height:30px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u176 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:194px;
    top:1842px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:194px;
    top:1868px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179 {
    position:absolute;
    left:194px;
    top:1894px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u180 {
    position:absolute;
    left:564px;
    top:1846px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../商品类别列表_files/u168_normal.png');
}

.u181_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u182 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../商品类别列表_files/u170_normal.png');
}

.u183_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u184 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:44px;
    top:839px;
    width:84px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u187_container {
    position:absolute;
    left:693px;
    top:835px;
    width:46px;
    height:23px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u188 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u189_container {
    position:absolute;
    left:693px;
    top:1179px;
    width:46px;
    height:23px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u190 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../商品类别列表_files/u56_normal.png');
}

.u191_container {
    position:absolute;
    left:683px;
    top:1524px;
    width:46px;
    height:23px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u192 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:61px;
    top:274px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_line {
    background-image: url('../商品类别列表_files/u194_line.png');
}

.u194_line {
    position:absolute;
    left:0px;
    top:4px;
    width:180px;
    height:3px;
}

.u194 {
    position:absolute;
    left:46px;
    top:290px;
    width:180px;
    height:10px;
    
}

.u195 {
    position:absolute;
    left:61px;
    top:310px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:61px;
    top:336px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u197 {
    position:absolute;
    left:61px;
    top:388px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198 {
    position:absolute;
    left:61px;
    top:414px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u199 {
    position:absolute;
    left:61px;
    top:440px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:61px;
    top:466px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201 {
    position:absolute;
    left:61px;
    top:492px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202 {
    position:absolute;
    left:61px;
    top:362px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../商品类别列表_files/u203_normal.png');
}

.u203_container {
    position:absolute;
    left:236px;
    top:264px;
    width:495px;
    height:246px;
}

#u203_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:501px;
    height:252px;
}

.u204 {
    position:absolute;
    left:2px;
    top:115px;
    width:491px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205_normal {
    background-image: url('../商品类别列表_files/u205_normal.png');
}

.u205_container {
    position:absolute;
    left:252px;
    top:336px;
    width:468px;
    height:146px;
}

#u205_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:152px;
}

.u206 {
    position:absolute;
    left:2px;
    top:65px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:252px;
    top:380px;
    width:479px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208 {
    position:absolute;
    left:252px;
    top:278px;
    width:479px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u209_normal {
    background-image: url('../商品类别列表_files/u209_normal.png');
}

.u209_container {
    position:absolute;
    left:260px;
    top:290px;
    width:66px;
    height:46px;
}

#u209_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:52px;
}

.u210 {
    position:absolute;
    left:2px;
    top:15px;
    width:62px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:870px;
    top:175px;
    width:50px;
    height:28px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u212 {
    position:absolute;
    left:129px;
    top:839px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

