{#
#}
<div class="find_box wrap_border">
  <h1>找回密码</h1>
  <div class="find_left">
    <h2><span>绑定手机号</span>用户只能通过手机号找回</h2>
    <div class="find_form">
      {{ account_reset_passwd_phone_form }}
    </div>
  </div>
  <div class="find_right">
    <h2><span>未绑定手机号</span>用户可以通过邮箱找回</h2>
    <div class="find_form">
      {{ account_reset_passwd_email_form }}
    </div>
  </div>
</div>
