{#
#}
<div class="find_box wrap_border">
  <h1>找回密码</h1>
  <div class="find_con">
    <div class="find_note phone">
       <p class="note">验证码已发送至手机,请注意查收。</p>
       <p>请输入收到点验证码重新设置密码，并牢记密码。</p>
    </div>
    <div class="find_form phoneword">
    {{ login_form }}
    </div>
   </div>
</div>
