<div class="feedback_box wrap_border">
  <div class="register_form">
    {{ form }}
  </div>
  <div class="service">
    <ul>
     <li>
      <h2>服务热线</h2>
      <p>• 如果您是个人用户，请拨打400-615-9088(工作时间：周一至周日8:00-21:00)</p>
      <p>• 如果您是商家，请拨打400-615-9088(工作时间：周一至周五9:00-18:00)</p>
     </li>
      <li>
      <h2>服务邮箱</h2>
      <p>• 你也可以发送邮件<a href="mailto:guizhou@72ec.com">guizhou@72ec.com</a>(工作时间：周一至周日9:00-18:00)</p>
     </li>
    </ul>
  </div>
</div>
