<div class="assort wrap_border space" exit-target=".open">
{{ catalogs }}
</div>

{{ shares }}

{% if pager %}
<div class="page_number">
  <div class="pageNav">
    {{ pager }}
  </div>
</div>
{% endif %}
