{#
/**
 * 关于我们
 *
 */
#}
<div id="content">
  <div class="about_box wrap_border r5 space">
   <div class="about_top">
    <nav class="about_nav">
     <ul>
          <li><a  href="./aboutus_gsw">贵商网</a></li>
          <li><a  href="./aboutus_contact">联系我们</a></li>
          <li><a  href="./aboutus_store">商家入驻</a></li>
          <li><a  href="./aboutus_help">帮助中心</a></li>
     </ul>
    </nav>
   </div>
   
   <article class="about_contact">
    <h1>联系我们</h1>
    <p><b>联系方式</b></p>
    <p>贵阳金算盘软件有限公司<br>
邮箱： guizhou@72ec.com<br>
联系电话：400－615－9088<br>
新浪微博：@贵商网</p>
    <p>总部地址：重庆市北部新区星光大道62号海王星科技大厦三区5层<br>
贵阳公司地址：贵阳市延安中路1号振华科技大厦31楼（喷水池）</p>
   </article>
  </div>
 
 </div>