<div id="content">
  <div class="about_box wrap_border r5 space">
   <div class="about_top">
    <nav class="about_nav">
     <ul>
          <li><a  href="./aboutus_gsw">贵商网</a></li>
          <li><a  href="./aboutus_contact">联系我们</a></li>
          <li><a  href="./aboutus_store">商家入驻</a></li>
          <li><a  href="./aboutus_help">帮助中心</a></li>
     </ul>
    </nav>
   </div>
   
   <article class="about_contact">
    <h1>商家入驻</h1>
    <p>&#12288;&#12288;贵商网是由贵州金算盘软件有限公司与贵州省贵阳市云岩区人民政府合力打造的区域电子商务平台。贵商网立足于贵阳，致力于推动本地生活服务消费产业的电子商务化，为本地商家提供互联网销售平台，为同城消费者提供享受优惠服务的渠道。目前贵商网已经成功开发移动客户端“贵客”，为广大用户消费提供更方便快捷的服务。</p>
    <p><b>加盟贵商网 成就新商机</b></p>
    <p>聚焦消费人群精准推广，为您增加客流，带来实际收益<br>
免费发布促销信息，刺激消费欲望，提高到店率，您只需坐享其成<br>
零风险，无任何前期投入，帮您成长是我们的共同目标<br>
独特的营销手段，带来收益的同时，提升您的品牌形象，建立口碑价值</p>
<p><b>加盟方式</b></p>
    <p>1）下载“贵客”商户版，注册并填写正确真实的详细资料。经过审核通过后，商家正式入驻贵商网。 <br>
2）登录“贵商网”注册成为商家，并填写正确真实的详细资料。经过审核通过后，商家正式入驻贵商网。<br>
3）致电贵商网客服，在客服协助下完成入驻。
</p>
<p><b>联系方式</b></p>
    <p>您可以通过以下方式联系贵商网招商工作人员：<br>
招商邮箱：guizhou@72ec.com<br>
电话：400-615-9088<br>
商务合作QQ：2722084958
</p>
   </article>
  </div>
 
 </div>
