<div id="content">
  <div class="about_box wrap_border r5 space">
   <div class="about_top">
    <nav class="about_nav">
     <ul>
          <li><a target="_blank" href="./aboutus_gsw">贵商网</a></li>
          <li><a target="_blank" href="./aboutus_contact">联系我们</a></li>
          <li><a target="_blank" href="./aboutus_store">商家入驻</a></li>
          <li><a target="_blank" href="./aboutus_help">帮助中心</a></li>
     </ul>
    </nav>
   </div>
   
   <article class="about_help">
    <h1>帮助中心</h1>
    <div class="about_help_con">
    <h2 id="help01">一、新手帮助</h2>
    <ol>
     <li>
       <a class="open"><span></span>贵商网注册是否收费？</a>
       <div class="con">答：贵商网目前注册、发布信息、搜索浏览信息均不收费。使用贵商网的手机应用“贵客”时，会发生上网流量费用，费用由相关运营商扣除。</div>
     </li>
     <li>
      <a class="colse"><span></span>如何注册贵商网？</a>
      <div style="display:none;" class="con">答：贵商网目前提供了两种注册方式，一种是邮箱注册，一种是手机号注册。另外，用户还可以通过“贵客”手机端进行注册，在“贵客”注册成功的用户，可以直接在贵商网登录。</div>
     </li>
     <li>
      <a class="colse"><span></span>为什么输入邮箱/手机提示已经注册？</a>
      <div style="display:none;" class="con">答：贵商网会员用户的电子邮箱/手机是唯一的，已经用来注册过的邮箱/手机不能再次注册。出现这个提示则说明您的这个邮箱/手机已经在我们贵商网上注册过。如果您确定您已经用这个电子邮箱/手机注册过，但忘记了登录密码，您可以在登录页面选择找回密码，通过注册邮箱/手机，重置新密码。</div>
     </li>
      <li>
      <a class="colse"><span></span>注册了之后填写的昵称等个人资料可以修改吗？</a>
      <div style="display:none;" class="con">答：昵称等个人资料可以修改，请登录后到个人中心里进行修改。</div>
     </li>
     <li>
      <a class="colse"><span></span>如何登陆贵商网？</a>
      <div style="display:none;" class="con">答：使用注册成功的邮箱/手机号登录。也可以使用新浪微博账号等第三方账号一键登录。</div>
     </li>
     <li>
      <a class="colse"><span></span>看不到验证码怎么办？</a>
      <div style="display:none;" class="con">答：1）请点击“换一张”刷新验证码图片；
       2）如果刷新后，还是看不到验证码，有可能是您的IE没有启用“活动脚本”、安全级别设置的过高。您可以如下处理：点击“工具”&mdash;“Internet选项”&mdash;“安全”&mdash;“默认级别”&mdash;“确定”。
</div>
     </li>
     <li>
      <a class="colse"><span></span>密码丢了，如何找回呢？</a>
      <div style="display:none;" class="con">答：贵商网提供两种方式找回密码。当用户绑定了手机号，可以通过手机号找回密码；当用户没有绑定手机号时，只能通过注册邮箱找回密码。</div>
     </li>
     <li>
      <a class="colse"><span></span>如何修改密码？</a>
      <div style="display:none;" class="con">答：您只需要通过注册邮箱/手机号登录贵商网，在“个人中心”按操作步骤自助修改您的密码即可。</div>
     </li>
     <li>
      <a class="colse"><span></span>我在贵商网上的个人资料安全吗？</a>
      <div style="display:none;" class="con">答：尊重用户个人隐私是我们的基本原则，除法律、法规明文规定或政府部门要求必须公开、透露的情形外，我们不会向任何第三方公开、编辑、租售或透露您的手机号码及相关信息。</div>
     </li>
     <li>
      <a class="colse"><span></span>贵商网提供哪些服务项目？</a>
      <div style="display:none;" class="con">答：贵商网立足于贵阳本地消费，为本地消费者、需要了解当地消费资讯的人群提供实惠、优质的购物体验和生活服务。贵商网汇总了贵州最新最全的餐饮、娱乐休闲、购物等各方面的优惠资讯，让消费者尽情享受实惠生活。消费者可以通过“贵客”手机应用出示“贵商网”二维码用户身份，享受专属优惠。此外贵商网还汇集来自各第三方平台的线上商品，让消费者不仅可以逛周边，还可以网购精选，充分享受互联网带来的购物体验与实惠。</div>
     </li>
     <li>
      <a class="colse"><span></span>我如何查找我需要的本地信息？</a>
      <div style="display:none;" class="con">答：方法一：您可以进入贵商网“周边优惠”频道，查询详情。方法二：您也可以通过商家分类浏览查询；方法三：您可以用关键词搜索快速获得优惠信息。此外，您可以通过“贵客”手机应用采用以上方法查询，并根据“最新发布”、“离我最近”等排序，获得更精准的信息。</div>
     </li>
     <li>
      <a class="colse"><span></span>我如何查找我需要的商品信息？</a>
      <div style="display:none;" class="con">答：方法一：您可以进入贵商网“网购精选”频道，查询详情。方法二：您也可以通过商家分类浏览查询；方法三：您可以用关键词搜索快速获得优惠信息。此外，您可以通过“贵客”手机应用采用以上方法查询。</div>
     </li>
     <li>
      <a class="colse"><span></span>我如何分享商品？</a>
      <div style="display:none;" class="con">答：在贵商网导航栏点击“晒宝贝”按钮，或者进入“个人中心”点击“晒宝贝”按钮，输入该宝贝的链接，系统自动获取商品信息。选择分类，填写商品描述，点击确定即可成功发布。</div>
     </li>
     <li>
      <a class="colse"><span></span>什么是账号绑定？</a>
      <div style="display:none;" class="con">【什么叫绑定帐号】<br>
绑定帐号就是将自己的贵商网帐号跟自己的其他社交网络帐号关联起来，以便能在贵商网分享购物乐趣的时候能方便的分享给其他站外好友。<br>
【贵商网会对我的绑定帐号做什么】<br>
在用户绑定帐号后（比如绑定了用户新浪微博帐号），贵商网会在你的确认下跟新浪微博获取你新浪微博的访问授权。只有获取授权后，贵商网才能将你想要同步的信息同步至你的新浪微博。
如果不是用户主动发起同步操作，贵商网不会在用户不知情的情况下发布任何信息。<br>
【如何设置我的帐号绑定】<br>
当你绑定帐号后，会显示你具体绑定的帐号名称。在你对需要同步的内容选择分享操作后，贵商网才会同步至你设置过需要同步的绑定帐号。
</div>
     </li>
     <li>
      <a class="colse"><span></span>个人中心有哪些功能？我能做什么？</a>
      <div style="display:none;" class="con"><b>我的主页：</b>我关注的用户的动态展示；我的粉丝与关注数量；我的个人简介；<br>
<b>我晒的：</b>我分享的商品。<br>
<b>我收藏的：</b>自己在站内收藏的商品和优惠信息。<br>
<b>我评价的：</b>我对商品及优惠信息的评价。
</div>
     </li>
     <li>
      <a class="colse"><span></span>如何关注其他用户？</a>
      <div style="display:none;" class="con">答：在贵商网您可以浏览其他用户的个人主页，并通过“+关注”按钮，关注对方。若不想再关注，也可以取消。此外，贵商网会根据您的喜好，为您推荐相关用户，帮助您在贵商网拓展朋友圈。</div>
     </li>
     <li>
      <a class="colse"><span></span>如何获得粉丝？</a>
      <div style="display:none;" class="con">答：要想其他用户成为您的粉丝，您需要将个人主页丰富起来。比如：上传一张清晰漂亮的头像；经常分享商品；经常参与商品和优惠活动的点评等等。</div>
     </li>
     <li>
      <a class="colse"><span></span>关于收藏</a>
      <div style="display:none;" class="con">答：浏览时看到中意的商品或者优惠信息想要收藏起来，你可以点击“喜欢”快速将该宝贝存入你在个人主页的收藏夹里，方便你以后的查看。</div>
     </li>
    </ol>
    <h2 id="help02">二、商家帮助</h2>
    <ol>
     <li>
       <a class="colse"><span></span>商家更换了手机号还能使用吗？</a>
       <div style="display:none;" class="con">答：用手机号通过贵客注册后，如果需要用新手机号代表商家管理相关信息，请告知我们的招商人员，我们协助修改账号后，可以登录使用。</div>
     </li>
     <li>
      <a class="colse"><span></span>二维码是什么？</a>
      <div style="display:none;" class="con">答：二维码是用特定的几何图形按一定规律在平面（二维方向）上分布的黑白相间的图形。当用户注册贵商网后，将获得代表贵客用户身份的二维码，此二维码具有唯一性。此二维码将作为用户到商家消费交易的凭证。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家用“贵客”扫二维码有什么作用？</a>
      <div style="display:none;" class="con">答：通过扫描代表用户贵客身份的二维码，商家可以确认用户信息并给予相应的优惠。同时可以记录该用户到客户管理中，为后期的客户精准营销做好客户储备。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家可以随时修改商家资料吗？</a>
      <div style="display:none;" class="con">答：商家登录贵商网或者手机应用“贵客”后，可以随时修改商家资料，但需要审核，以确保消费者权益。目前审核时间初步定为一个小时内完成审核。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家可以发布多少条优惠信息？</a>
      <div style="display:none;" class="con">答：目前对优惠信息发布数量没有限制。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家可以随时修改优惠信息吗？</a>
      <div style="display:none;" class="con">答：已审核发布的优惠信息不能修改。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家不想使用固定的折扣模式，是否有其他形式可以选择？</a>
      <div style="display:none;" class="con">答：如果商家有其他形式的商务合作想法，请告知我们的招商人员，我们将与您协商解决。</div>
     </li>
      <li>
      <a class="colse"><span></span>消费者怎么知道商家发布的优惠信息？</a>
      <div style="display:none;" class="con">答：商家发布的优惠信息通过审核后将出现在贵商网及贵客手机端，消费者即可浏览。后期，我们将开辟信息推送通道，将商家的优惠信息精准地推送给消费者。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家如何知道促销活动的效果？</a>
      <div style="display:none;" class="con">答：贵商网将统计商家受到的关注数量，统计顾客在商家消费的交易数量，以反映商家的促销效果。具体数量可以在“贵商网”及“贵客”查询。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家能否管理成为其粉丝的贵客个人会员？</a>
      <div style="display:none;" class="con">答：商家登录“贵商网”或“贵客”，在后台管理中查看会员的数量和会员名单。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家发布的优惠信息是否需要审核？</a>
      <div style="display:none;" class="con">答：发布的优惠信息需要审核,以保障商家及消费者权益。目前审核时间为一个小时内完成。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家进行了资料修改，是否也需要审核？</a>
      <div style="display:none;" class="con">答：为了保障商家及消费者权益，商家的资料，如联系电话、地址、名称等修改后，是需要审核的。目前审核时间为一个小时内完成。</div>
     </li>
      <li>
      <a class="colse"><span></span>如果发布的优惠信息受到外部影响，必须取消活动，将如何处理？</a>
      <div style="display:none;" class="con">答：请商家及时与贵商网运营人员联系，我们将协助您做好活动在贵商网及贵客手机版中的展示的取消处理。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家与顾客产生了纠纷，顾客在贵商网上发表不利于我的点评，如何解决？</a>
      <div style="display:none;" class="con">答：视纠纷内容和性质而具体对待。建议商家和顾客积极协商处理。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家有几个连锁店铺，如何统一管理？</a>
      <div style="display:none;" class="con">答：目前建议您每个店铺注册一个贵客账号进行信息发布。可由总店统一账号的使用或监管。我们将在后期推出针对连锁店铺的功能。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家如何把优惠信息推送给消费过的顾客？</a>
      <div style="display:none;" class="con">答：顾客扫码交易后，将自动成为商家的粉丝，商家可以通过贵商网的手机应用“贵客”后台将促销信息精准地发送给消费过的顾客，但有发送条数及频率的限制。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家能不能把手机中的用户信息导入到电脑中进行管理？</a>
      <div style="display:none;" class="con">答：贵商网与手机应用“贵客”的所有数据是同步的，所以您无需进行导入导出操作，您只需通过电脑登录贵商网，即可在商家中心中查看相关数据。</div>
     </li>
     <li>
      <a class="colse"><span></span>商家能在贵商网打广告吗？如何收费？</a>
      <div style="display:none;" class="con">答：商家可以在贵商网及“贵客”进行广告宣传。广告形式多样，具体展示及费用请与运营人员商谈。</div>
     </li>
    </ol>
    </div>
    <ul class="about_help_menu">
     <li><a href="#help01">新手帮助</a></li>
     <li><a href="#help02">商家帮助</a></li>
    </ul>
   </article>
  </div>
 
 </div>