{#
/**
 * 用户协议
 *
 */
#}
<div class="about_box wrap_border r5 space">
  <article class="protocol_con">
    <h1 style="text-align:center">贵商网用户服务协议</h1>
    <p>贵商网是通过互联网为用户（本协议中“用户”指“贵商网注册会员”）提供在线服务以及手机客户端服务，您只有完全同意下列所有服务条款并完成注册程序，才能成为贵商网的用户并使用相应服务。您在使用贵商网提供的各项服务之前，应仔细阅读本用户服务协议。您在注册程序中点击“同意贵商网用户服务协议，立即注册”按钮，即表示您与贵商网达成协议，完全接受本服务协议条款下的全部条款。您一旦使用贵商网的服务，即视为您已了解并完全同意本服务条款各项内容，包括贵商网对服务条款随时做的任何修改。</p>
    <p><b>一、服务内容</b></p>
    <p>贵商网的具体服务内容由贵商网根据实际情况提供，如优惠券/折扣信息的浏览、搜索、分享、下载等。贵商网提供基于贵商网平台服务的手机客户端服务，贵商网手机客户端服务作为贵商网平台服务的其中一部分，用户可免费下载贵商网提供的手机客户端，自愿安装并使用贵商网手机客户端提供的服务。贵商网手机客户端的服务协议及使用准则遵循本服务协议的全部内容。<br>
贵商网保留变更、中断或终止全部（部分）网络服务的权利。贵商网保留根据实际情况随时调整贵商网平台提供的服务内容、形式的权利。贵商网不承担因业务调整给用户造成的任何损失。</p>
    <p><b>二、内容使用</b></p>
    <p>贵商网鼓励用户充分利用贵商网平台自由的分享信息，但用户需要对经由贵商网平台上传、下载的所有内容承担全部责任。未经版权人许可，用户不得在贵商网平台上发布任何受版权保护的内容。<br>
对于用户通过贵商网平台发布到网站上的任何内容，用户授予贵商网在全世界范围内具有免费的、永久的、不可撤销的、非独家的许可以及再许可的权利，以使用、复制、修改、改编、出版、翻译、据以创作衍生作品、传播、表演和展示此等内容（整体或部分），和/或将此等内容编入当前已知的或以后开发的其他任何形式的作品、媒体或技术中。任何其他用户或网站需要转载该作品的，必须征得原文作者授权。贵商网制作、发布、传播的信息内容的版权归贵商网所有，非经贵商网许可，任何用户或者第三方不得复制、修改或者转载该内容，或者将其用于任何商业目的。</p>
     <p><b>三、知识产权</b></p>
     <p>本网站的整体内容版权属于贵阳金算盘软件有限公司所有。本网站（www.gsw100.com）所有的产品、技术与所有程序均属于贵商网的知识产权，在此并未授权。<br>
本网站所有设计图样及其他图样、产品及服务名称，均为贵阳金算盘软件有限公司及/或其关联公司所享有的商标、标识，任何人不得使用、复制或用作其他用途。<br>
我们对贵商网网站专有内容、原创内容和其他通过授权取得的独占或者独家内容享有完全知识产权。未经我们许可，任何单位和个人不得私自复制、传播、展示、镜像、上载、下载、使用，或者从事任何其他侵犯我们知识产权的行为。否则，我们将追究相关法律责任。</p>
     <p><b>四、注册信息</b></p>
    <p>贵商网为用户提供对个人注册信息的绝对的控制权，用户可以通过“修改个人信息”查看或修改个人信息。用户自愿注册个人信息，用户在注册时提供的所有信息，都是基于自愿，用户有权在任何时候拒绝提供这些信息。<br>
用户在申请使用贵商网服务时，必须提供真实的个人资料，并不断更新注册资料。如果因注册信息不真实而引起的问题及其后果，贵商网不承担任何责任。<br>
用户不得将其帐号、密码转让或出借予他人使用。如用户发现其帐号遭他人非法使用，应立即通知贵商网。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用，贵商网不承担任何责任。</p>
    <p><b>五、隐私保护</b></p>
    <p>保护用户隐私是贵商网的重点原则，贵商网通过技术手段、提供隐私保护服务功能、强化内部管理等办法充分保护用户的个人资料安全。贵商网保证不对外公开或向第三方提供用户注册的个人资料，及用户在使用服务时存储的非公开内容，但下列情况除外：<br>
◇事先获得用户的明确授权；<br>
◇根据有关的法律法规要求；<br>
◇按照相关司法机构或政府主管部门的要求；<br>
◇只有透露你的个人资料，才能提供你所要求的产品和服务<br>
当用户访问贵商网的时候，我们可能会保存会员的用户登录状态并且为用户分配一个或多个“Cookies”（一个很小的文本文件），例如：当会员访问一个需要会员登录才可以提供的信息或服务，当会员登录时，我们会把该会员的登录名和密码加密存储在用会员计算机的Cookie文件中，由于是不可逆转的加密存储，其他人即使可以使用该会员的计算机，也无法识别出会员的用户名和密码。会员并不需要额外做任何工作，所有的收集和保存都由系统自动完成。Cookie文件将永久的保存在您的计算机硬盘上，除非您使用浏览器或操作系统软件手工将其删除。您也可以选择“不使用Cookie”或“在使用Cookie是事先通知我”的选项禁止Cookie的产生，但是您将为此无法使用一些贵商网的查询和服务。<br>
我们选择有信誉的第三方公司或网站作为我们的合作伙伴为用户提供信息和服务。尽管我们只选择有信誉的公司或网站作为我们的合作伙伴，但是每个合作伙伴都会有与贵商网不同的隐私保护政策，一旦您通过点击进入了合作伙伴的网站，贵商网隐私保护原则将不再生效，我们建议您查看该合作伙伴网站的隐私条款，并了解该合作伙伴对于收集、使用、泄露您的个人信息的规定。</p>
    <p><b>六、平台使用准则</b></p>
    <p>用户在使用贵商网服务过程中，必须遵循国家的相关法律法规，不得利用贵商网平台，发布危害国家安全、色情、暴力等非法内容；不得利用贵商网平台发布含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、或其它道德上令人反感的内容。用户使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，贵商网有权直接删除该等违反规定之内容，并可以暂停或终止向该用户提供服务。除非与贵商网单独签订合同，否则不得将贵商网平台用于商业目的；不可以通过自动方式创建账户，也不可以对账户使用自动系统执行操作。用户影响系统总体稳定性或完整性的操作可能会被暂停或终止，直到问题得到解决。</p>
    <p><b>七、免责声明</b></p>
    <p>互联网是一个开放平台，用户将照片等个人资料上传到互联网上，有可能会被其他组织或个人复制、转载、擅改或做其它非法用途，用户必须充分意识此类风险的存在。用户明确同意其使用贵商网服务所存在的风险将完全由其自己承担；因其使用贵商网服务而产生的一切后果也由其自己承担，我们对用户不承担任何责任。<br>
微博、人人网等官方帐号对用户的相关文字、资讯、资料、音乐、照片、图形、视讯、信息或其它个人资料进行推广发布的，不属于对用户相关权益的侵权行为、贵商网不承担任何责任。<br>
我们不保证服务一定能满足用户的要求，也不保证服务不会中断，对服务的及时性、安全性、准确性也都不作保证。对于因不可抗力或贵商网无法控制的原因造成的网络服务中断或其他缺陷，贵商网不承担任何责任。我们不对用户所发布信息的删除或储存失败承担责任。我们有权判断用户的行为是否符合本网站使用协议条款之规定，如果我们认为用户违背了协议条款的规定，我们有终止向其提供网站服务的权利。</p>
    <p><b>服务变更、中断或终止</b></p>
    <p>如因系统维护或升级的需要而需暂停网络服务、服务功能的调整，贵商网将尽可能事先在网站上进行通告。如发生下列任何一种情形，贵商网有权单方面中断或终止向用户提供服务而无需通知用户：<br>
◇用户提供的个人资料不真实；<br>
◇用户违反本服务条款中规定的使用规则；<br>
◇未经贵商网同意，将贵商网平台用于商业目的。</p>
    <p><b>九、服务条款的完善和修改</b></p>
    <p>贵商网有权根据互联网的发展和中华人民共和国有关法律、法规的变化，不时地完善和修改贵商网服务条款。贵商网保留随时修改服务条款的权利，用户在使用贵商网平台服务时，有必要对最新的贵商网服务条款进行仔细阅读和重新确认，当发生有关争议时，请以最新的服务条款为准。</p>
    <p><b>十、青少年用户特别提示</b></p>
    <p>青少年用户必须遵守全国青少年网络文明公约：要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。</p>
    <p><b>十一、特别约定</b></p>
    <p>用户使用本服务的行为若有任何违反国家法律法规或侵犯任何第三方的合法权益的情形时，贵商网有权直接删除该等违反规定之信息，并可以暂停或终止向该用户提供服务。若用户利用本服务从事任何违法或侵权行为，由用户自行承担全部责任，因此给贵商网或任何第三方造成任何损失，用户应负责全额赔偿。</p>
    <p><b>十二、其他</b></p>
    <p>本用户条款的订立、执行和解释及争议的解决均应适用中华人民共和国法律。如用户就本协议内容或其执行发生任何争议，用户应尽量与我们友好协商解决；协商不成时，任何一方均可向贵商网所在地的人民法院提起诉讼。我们未行使或执行本服务协议任何权利或规定，不构成对前述权利或权利之放弃。如本用户条款中的任何条款无论因何种原因完全或部分无效或不具有执行力，本用户条款的其余条款仍应有效并且有约束力。<br>
贵商网对本服务协议拥有最终解释权。</p>
 </article>
</div>
