{#
/**
 *  @params:
 *    $adv_block:
 *    $adv_block->item_list: advs
 *
 *  adv 
 * see template_preprocess_adv_block_adv_banner_236x372()
 */
#}
{% if has_content  %}
<a target="_blank" href="{{ adv_link }}"><img src="{{ adv_picture_src }}"></a>
{% endif %}
