body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../通过邮件找回提示_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:190px;
    width:930px;
    height:350px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:936px;
    height:356px;
}

.u1 {
    position:absolute;
    left:2px;
    top:167px;
    width:926px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../通过邮件找回提示_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u4 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../通过邮件找回提示_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:768px;
    top:3px;
    width:25px;
    height:30px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u6 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:793px;
    top:13px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:643px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:692px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10_normal {
    background-image: url('../通过邮件找回提示_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u11 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../通过邮件找回提示_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u14 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:50px;
    top:220px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../通过邮件找回提示_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:321px;
    top:313px;
    width:59px;
    height:57px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:59px;
    height:57px;
}

.u17 {
    position:absolute;
    left:2px;
    top:20px;
    width:55px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:400px;
    top:319px;
    width:350px;
    height:51px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../通过邮件找回提示_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u19 {
    position:absolute;
    left:18px;
    top:554px;
    width:932px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:199px;
    top:586px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../通过邮件找回提示_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:300px;
    top:612px;
    width:25px;
    height:25px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../通过邮件找回提示_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:300px;
    top:647px;
    width:25px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:335px;
    top:612px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:335px;
    top:651px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:460px;
    top:616px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../通过邮件找回提示_files/u3_normal.png');
}

.u28_container {
    position:absolute;
    left:435px;
    top:607px;
    width:25px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:199px;
    top:612px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:199px;
    top:638px;
    width:71px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:199px;
    top:664px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:569px;
    top:616px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:199px;
    top:690px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../通过邮件找回提示_files/u21_normal.png');
}

.u35_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../通过邮件找回提示_files/u23_normal.png');
}

.u37_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

