body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../运营数据_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../运营数据_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u3 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../运营数据_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../运营数据_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:260px;
    top:332px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../运营数据_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u11 {
    position:absolute;
    left:30px;
    top:989px;
    width:932px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:860px;
    top:178px;
    width:50px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_normal {
    background-image: url('../运营数据_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../运营数据_files/u13_normal.png');
}

.u15_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u16 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../运营数据_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:30px;
    top:183px;
    width:100px;
    height:25px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../运营数据_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:42px;
    top:230px;
    width:58px;
    height:62px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:68px;
}

.u20 {
    position:absolute;
    left:2px;
    top:23px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:110px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../运营数据_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u22 {
    position:absolute;
    left:30px;
    top:297px;
    width:960px;
    height:10px;
    
}

.u23_normal {
    background-image: url('../运营数据_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../运营数据_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:225px;
    top:1020px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../运营数据_files/u23_normal.png');
}

.u29_container {
    position:absolute;
    left:326px;
    top:1046px;
    width:25px;
    height:25px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../运营数据_files/u25_normal.png');
}

.u31_container {
    position:absolute;
    left:326px;
    top:1081px;
    width:25px;
    height:25px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:361px;
    top:1046px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:361px;
    top:1085px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:486px;
    top:1050px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../运营数据_files/u8_normal.png');
}

.u36_container {
    position:absolute;
    left:461px;
    top:1041px;
    width:25px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u37 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:225px;
    top:1046px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:225px;
    top:1072px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:225px;
    top:1098px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:595px;
    top:1050px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:225px;
    top:1124px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:560px;
    top:14px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:840px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../运营数据_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:42px;
    top:314px;
    width:180px;
    height:567px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:573px;
}

.u46 {
    position:absolute;
    left:2px;
    top:276px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../运营数据_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:42px;
    top:353px;
    width:180px;
    height:31px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u48 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:42px;
    top:384px;
    width:180px;
    height:30px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u50 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u51_container {
    position:absolute;
    left:42px;
    top:414px;
    width:180px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u53_container {
    position:absolute;
    left:42px;
    top:444px;
    width:180px;
    height:30px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u54 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../运营数据_files/u47_normal.png');
}

.u55_container {
    position:absolute;
    left:42px;
    top:474px;
    width:180px;
    height:31px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u57_container {
    position:absolute;
    left:42px;
    top:505px;
    width:180px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u59_container {
    position:absolute;
    left:42px;
    top:535px;
    width:180px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../运营数据_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:42px;
    top:566px;
    width:180px;
    height:38px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u62 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u63_container {
    position:absolute;
    left:42px;
    top:634px;
    width:180px;
    height:30px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u64 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u65_container {
    position:absolute;
    left:42px;
    top:666px;
    width:180px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u67_container {
    position:absolute;
    left:42px;
    top:728px;
    width:180px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u69_container {
    position:absolute;
    left:42px;
    top:758px;
    width:180px;
    height:30px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u70 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../运营数据_files/u47_normal.png');
}

.u71_container {
    position:absolute;
    left:42px;
    top:604px;
    width:180px;
    height:31px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u72 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../运营数据_files/u47_normal.png');
}

.u73_container {
    position:absolute;
    left:42px;
    top:696px;
    width:180px;
    height:31px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u74 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../运营数据_files/u61_normal.png');
}

.u75_container {
    position:absolute;
    left:42px;
    top:313px;
    width:180px;
    height:38px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u76 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_line {
    background-image: url('../运营数据_files/u77_line.png');
}

.u77_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u77 {
    position:absolute;
    left:260px;
    top:405px;
    width:960px;
    height:10px;
    
}

.u78 {
    position:absolute;
    left:270px;
    top:428px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../运营数据_files/u47_normal.png');
}

.u79_container {
    position:absolute;
    left:42px;
    top:788px;
    width:180px;
    height:31px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u80 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u81_container {
    position:absolute;
    left:42px;
    top:820px;
    width:180px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../运营数据_files/u49_normal.png');
}

.u83_container {
    position:absolute;
    left:42px;
    top:850px;
    width:180px;
    height:30px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u84 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:260px;
    top:384px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

