body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../享网购_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:30px;
    top:214px;
    width:930px;
    height:50px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:936px;
    height:56px;
}

.u1 {
    position:absolute;
    left:2px;
    top:17px;
    width:926px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:40px;
    top:228px;
    width:660px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:30px;
    top:280px;
    width:225px;
    height:334px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u4 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../享网购_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:30px;
    top:280px;
    width:225px;
    height:258px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u6 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:38px;
    top:548px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u8_container {
    position:absolute;
    left:286px;
    top:280px;
    width:225px;
    height:334px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u9 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../享网购_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:288px;
    top:280px;
    width:222px;
    height:258px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u11 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:294px;
    top:548px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u13_container {
    position:absolute;
    left:535px;
    top:280px;
    width:225px;
    height:334px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u14 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:542px;
    top:552px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u16_container {
    position:absolute;
    left:775px;
    top:280px;
    width:225px;
    height:334px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u17 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:790px;
    top:554px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../享网购_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:535px;
    top:280px;
    width:223px;
    height:262px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u20 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../享网购_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:775px;
    top:280px;
    width:224px;
    height:258px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:258px;
}

.u22 {
    position:absolute;
    left:2px;
    top:121px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:38px;
    top:584px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:198px;
    top:580px;
    width:46px;
    height:23px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u25 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:294px;
    top:584px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u27_container {
    position:absolute;
    left:454px;
    top:580px;
    width:46px;
    height:23px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:546px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u30_container {
    position:absolute;
    left:706px;
    top:584px;
    width:46px;
    height:23px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u31 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:790px;
    top:588px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u33_container {
    position:absolute;
    left:950px;
    top:584px;
    width:46px;
    height:23px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u35_container {
    position:absolute;
    left:26px;
    top:624px;
    width:225px;
    height:334px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u36 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../享网购_files/u5_normal.png');
}

.u37_container {
    position:absolute;
    left:26px;
    top:624px;
    width:225px;
    height:258px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u38 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:34px;
    top:892px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u40_container {
    position:absolute;
    left:282px;
    top:624px;
    width:225px;
    height:334px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u41 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../享网购_files/u10_normal.png');
}

.u42_container {
    position:absolute;
    left:284px;
    top:624px;
    width:222px;
    height:258px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u43 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:290px;
    top:892px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u45_container {
    position:absolute;
    left:531px;
    top:624px;
    width:225px;
    height:334px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u46 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:538px;
    top:896px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u48_container {
    position:absolute;
    left:771px;
    top:624px;
    width:225px;
    height:334px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u49 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:786px;
    top:898px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../享网购_files/u19_normal.png');
}

.u51_container {
    position:absolute;
    left:531px;
    top:624px;
    width:223px;
    height:262px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u52 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../享网购_files/u21_normal.png');
}

.u53_container {
    position:absolute;
    left:771px;
    top:624px;
    width:224px;
    height:258px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:258px;
}

.u54 {
    position:absolute;
    left:2px;
    top:121px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:34px;
    top:928px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u56_container {
    position:absolute;
    left:194px;
    top:924px;
    width:46px;
    height:23px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u57 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:290px;
    top:928px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u59_container {
    position:absolute;
    left:450px;
    top:924px;
    width:46px;
    height:23px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:542px;
    top:932px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u62_container {
    position:absolute;
    left:702px;
    top:928px;
    width:46px;
    height:23px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u63 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:786px;
    top:932px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u65_container {
    position:absolute;
    left:26px;
    top:968px;
    width:225px;
    height:334px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u66 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../享网购_files/u5_normal.png');
}

.u67_container {
    position:absolute;
    left:26px;
    top:968px;
    width:225px;
    height:258px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u68 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:34px;
    top:1236px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u70_container {
    position:absolute;
    left:282px;
    top:968px;
    width:225px;
    height:334px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u71 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../享网购_files/u10_normal.png');
}

.u72_container {
    position:absolute;
    left:284px;
    top:968px;
    width:222px;
    height:258px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u73 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:290px;
    top:1236px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u75_container {
    position:absolute;
    left:531px;
    top:968px;
    width:225px;
    height:334px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u76 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:538px;
    top:1240px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u78_container {
    position:absolute;
    left:771px;
    top:968px;
    width:225px;
    height:334px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u79 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:786px;
    top:1242px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../享网购_files/u19_normal.png');
}

.u81_container {
    position:absolute;
    left:531px;
    top:968px;
    width:223px;
    height:262px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u82 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../享网购_files/u21_normal.png');
}

.u83_container {
    position:absolute;
    left:771px;
    top:968px;
    width:224px;
    height:258px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:258px;
}

.u84 {
    position:absolute;
    left:2px;
    top:121px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:34px;
    top:1272px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u86_container {
    position:absolute;
    left:194px;
    top:1268px;
    width:46px;
    height:23px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u87 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:290px;
    top:1272px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u89_container {
    position:absolute;
    left:450px;
    top:1268px;
    width:46px;
    height:23px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u90 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:542px;
    top:1276px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u92_container {
    position:absolute;
    left:702px;
    top:1272px;
    width:46px;
    height:23px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u93 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:786px;
    top:1276px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u95_container {
    position:absolute;
    left:26px;
    top:1312px;
    width:225px;
    height:334px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u96 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../享网购_files/u5_normal.png');
}

.u97_container {
    position:absolute;
    left:26px;
    top:1312px;
    width:225px;
    height:258px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u98 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:34px;
    top:1580px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u100_container {
    position:absolute;
    left:282px;
    top:1312px;
    width:225px;
    height:334px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u101 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../享网购_files/u10_normal.png');
}

.u102_container {
    position:absolute;
    left:284px;
    top:1312px;
    width:222px;
    height:258px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:258px;
}

.u103 {
    position:absolute;
    left:2px;
    top:121px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:290px;
    top:1580px;
    width:210px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u105_container {
    position:absolute;
    left:531px;
    top:1312px;
    width:225px;
    height:334px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u106 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:538px;
    top:1584px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../享网购_files/u3_normal.png');
}

.u108_container {
    position:absolute;
    left:771px;
    top:1312px;
    width:225px;
    height:334px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u109 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:786px;
    top:1586px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../享网购_files/u19_normal.png');
}

.u111_container {
    position:absolute;
    left:531px;
    top:1312px;
    width:223px;
    height:262px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:223px;
    height:262px;
}

.u112 {
    position:absolute;
    left:2px;
    top:123px;
    width:219px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../享网购_files/u21_normal.png');
}

.u113_container {
    position:absolute;
    left:771px;
    top:1312px;
    width:224px;
    height:258px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:224px;
    height:258px;
}

.u114 {
    position:absolute;
    left:2px;
    top:121px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:34px;
    top:1616px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u116_container {
    position:absolute;
    left:194px;
    top:1612px;
    width:46px;
    height:23px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u117 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:290px;
    top:1616px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u119_container {
    position:absolute;
    left:450px;
    top:1612px;
    width:46px;
    height:23px;
}

#u119_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u120 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:542px;
    top:1620px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../享网购_files/u24_normal.png');
}

.u122_container {
    position:absolute;
    left:702px;
    top:1616px;
    width:46px;
    height:23px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u123 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:786px;
    top:1620px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:220px;
    top:1714px;
    width:513px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_line {
    background-image: url('../享网购_files/u126_line.png');
}

.u126_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u126 {
    position:absolute;
    left:38px;
    top:1900px;
    width:932px;
    height:10px;
    
}

.u127_normal {
    background-image: url('../享网购_files/u127_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u128 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../享网购_files/u130_normal.png');
}

.u130_container {
    position:absolute;
    left:502px;
    top:131px;
    width:330px;
    height:22px;
}

#u130_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:28px;
}

.u131 {
    position:absolute;
    left:2px;
    top:3px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:840px;
    top:128px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../享网购_files/u134_normal.png');
}

.u134_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u135 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../享网购_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:30px;
    top:178px;
    width:90px;
    height:30px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u137 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../享网购_files/u136_normal.png');
}

.u138_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u139 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../享网购_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:171px;
    top:183px;
    width:100px;
    height:25px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u141 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../享网购_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u142_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u143 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:502px;
    top:130px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u145 {
    position:absolute;
    left:592px;
    top:134px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146_normal {
    background-image: url('../享网购_files/u146_normal.png');
}

.u146_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u146_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u147 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../享网购_files/u146_normal.png');
}

.u148_container {
    position:absolute;
    left:768px;
    top:3px;
    width:25px;
    height:30px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u149 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:793px;
    top:13px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151 {
    position:absolute;
    left:643px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u152 {
    position:absolute;
    left:692px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u153 {
    position:absolute;
    left:120px;
    top:584px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154 {
    position:absolute;
    left:260px;
    top:228px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_line {
    background-image: url('../享网购_files/u155_line.png');
}

.u155_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u155 {
    position:absolute;
    left:120px;
    top:1800px;
    width:650px;
    height:10px;
    
}

.u156_normal {
    background-image: url('../享网购_files/u156_normal.png');
}

.u156_container {
    position:absolute;
    left:330px;
    top:1809px;
    width:160px;
    height:37px;
}

#u156_img {
    position:absolute;
    left:0px;
    top:0px;
    width:160px;
    height:37px;
}

.u157 {
    position:absolute;
    left:2px;
    top:10px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../享网购_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:500px;
    top:1820px;
    width:50px;
    height:22px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:56px;
    height:28px;
}

.u159 {
    position:absolute;
    left:2px;
    top:3px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../享网购_files/u160_normal.png');
}

.u160_container {
    position:absolute;
    left:910px;
    top:607px;
    width:70px;
    height:70px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:76px;
}

.u161 {
    position:absolute;
    left:2px;
    top:27px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162 {
    position:absolute;
    left:919px;
    top:650px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163_normal {
    background-image: url('../享网购_files/u163_normal.png');
}

.u163_container {
    position:absolute;
    left:930px;
    top:614px;
    width:29px;
    height:31px;
}

#u163_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:31px;
}

.u164 {
    position:absolute;
    left:2px;
    top:8px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165 {
    position:absolute;
    left:220px;
    top:1940px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../享网购_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:321px;
    top:1966px;
    width:25px;
    height:25px;
}

#u166_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u167 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../享网购_files/u168_normal.png');
}

.u168_container {
    position:absolute;
    left:321px;
    top:2001px;
    width:25px;
    height:25px;
}

#u168_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u169 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:356px;
    top:1966px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171 {
    position:absolute;
    left:356px;
    top:2005px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:481px;
    top:1970px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../享网购_files/u146_normal.png');
}

.u173_container {
    position:absolute;
    left:456px;
    top:1961px;
    width:25px;
    height:30px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u174 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175 {
    position:absolute;
    left:220px;
    top:1966px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:220px;
    top:1992px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:220px;
    top:2018px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:590px;
    top:1970px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../享网购_files/u166_normal.png');
}

.u179_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u180 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../享网购_files/u168_normal.png');
}

.u181_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u182 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u184 {
    position:absolute;
    left:870px;
    top:180px;
    width:50px;
    height:16px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

