body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../主页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:31px;
    top:1271px;
    width:689px;
    height:389px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:695px;
    height:395px;
}

.u1 {
    position:absolute;
    left:2px;
    top:186px;
    width:685px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../主页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u3 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../主页_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:502px;
    top:131px;
    width:330px;
    height:22px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:28px;
}

.u6 {
    position:absolute;
    left:2px;
    top:3px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:840px;
    top:128px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../主页_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../主页_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../主页_files/u11_normal.png');
}

.u13_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u14 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../主页_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:730px;
    top:218px;
    width:240px;
    height:360px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:366px;
}

.u16 {
    position:absolute;
    left:2px;
    top:172px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:750px;
    top:232px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../主页_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:744px;
    top:259px;
    width:215px;
    height:312px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:312px;
}

.u19 {
    position:absolute;
    left:2px;
    top:148px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_container {
    position:absolute;
    left:30px;
    top:218px;
    width:691px;
    height:297px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:691px;
    height:297px;
}

.u21 {
    position:absolute;
    left:2px;
    top:140px;
    width:687px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../主页_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:730px;
    top:1528px;
    width:240px;
    height:364px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:370px;
}

.u23 {
    position:absolute;
    left:2px;
    top:174px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:742px;
    top:1538px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../主页_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:730px;
    top:588px;
    width:240px;
    height:350px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:356px;
}

.u26 {
    position:absolute;
    left:2px;
    top:167px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:742px;
    top:614px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:742px;
    top:640px;
    width:78px;
    height:50px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u29 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:846px;
    top:640px;
    width:78px;
    height:50px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u31 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u32_container {
    position:absolute;
    left:742px;
    top:708px;
    width:78px;
    height:50px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u33 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u34_container {
    position:absolute;
    left:846px;
    top:708px;
    width:78px;
    height:50px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u35 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u36_container {
    position:absolute;
    left:742px;
    top:784px;
    width:78px;
    height:50px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u37 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u38_container {
    position:absolute;
    left:846px;
    top:784px;
    width:78px;
    height:50px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u39 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u40_container {
    position:absolute;
    left:742px;
    top:858px;
    width:78px;
    height:50px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u41 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../主页_files/u28_normal.png');
}

.u42_container {
    position:absolute;
    left:846px;
    top:858px;
    width:78px;
    height:50px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:50px;
}

.u43 {
    position:absolute;
    left:2px;
    top:17px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../主页_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:30px;
    top:525px;
    width:690px;
    height:736px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:696px;
    height:742px;
}

.u45 {
    position:absolute;
    left:2px;
    top:360px;
    width:686px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:40px;
    top:540px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../主页_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:50px;
    top:772px;
    width:200px;
    height:136px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:136px;
}

.u48 {
    position:absolute;
    left:2px;
    top:60px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:270px;
    top:772px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:270px;
    top:802px;
    width:430px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../主页_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:30px;
    top:183px;
    width:100px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../主页_files/u47_normal.png');
}

.u53_container {
    position:absolute;
    left:50px;
    top:946px;
    width:200px;
    height:136px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:136px;
}

.u54 {
    position:absolute;
    left:2px;
    top:60px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../主页_files/u47_normal.png');
}

.u55_container {
    position:absolute;
    left:50px;
    top:1117px;
    width:200px;
    height:136px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:136px;
}

.u56 {
    position:absolute;
    left:2px;
    top:60px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_line {
    background-image: url('../主页_files/u57_line.png');
}

.u57_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u57 {
    position:absolute;
    left:50px;
    top:926px;
    width:650px;
    height:10px;
    
}

.u58_line {
    background-image: url('../主页_files/u58_line.png');
}

.u58_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u58 {
    position:absolute;
    left:60px;
    top:1100px;
    width:650px;
    height:10px;
    
}

.u59_line {
    background-image: url('../主页_files/u59_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u59 {
    position:absolute;
    left:25px;
    top:1970px;
    width:932px;
    height:10px;
    
}

.u60 {
    position:absolute;
    left:200px;
    top:2003px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../主页_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:730px;
    top:1329px;
    width:240px;
    height:189px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:195px;
}

.u62 {
    position:absolute;
    left:2px;
    top:86px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../主页_files/u18_normal.png');
}

.u63_container {
    position:absolute;
    left:742px;
    top:1564px;
    width:215px;
    height:312px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:312px;
}

.u64 {
    position:absolute;
    left:2px;
    top:148px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:270px;
    top:846px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:270px;
    top:892px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:515px;
    top:892px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../主页_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:660px;
    top:886px;
    width:21px;
    height:22px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:22px;
}

.u69 {
    position:absolute;
    left:2px;
    top:3px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:260px;
    top:946px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:260px;
    top:976px;
    width:430px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:260px;
    top:1020px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:260px;
    top:1066px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:505px;
    top:1066px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../主页_files/u68_normal.png');
}

.u75_container {
    position:absolute;
    left:650px;
    top:1060px;
    width:21px;
    height:22px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:22px;
}

.u76 {
    position:absolute;
    left:2px;
    top:3px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:260px;
    top:1117px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:260px;
    top:1147px;
    width:430px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:260px;
    top:1191px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:260px;
    top:1237px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:505px;
    top:1237px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../主页_files/u68_normal.png');
}

.u82_container {
    position:absolute;
    left:650px;
    top:1231px;
    width:21px;
    height:22px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:22px;
}

.u83 {
    position:absolute;
    left:2px;
    top:3px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../主页_files/u84_normal.png');
}

.u84_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u85 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:502px;
    top:130px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:592px;
    top:134px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../主页_files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u89 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../主页_files/u88_normal.png');
}

.u90_container {
    position:absolute;
    left:768px;
    top:3px;
    width:25px;
    height:30px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u91 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:793px;
    top:13px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:643px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:692px;
    top:10px;
    width:39px;
    height:21px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:50px;
    top:1295px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../主页_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:43px;
    top:1370px;
    width:126px;
    height:110px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:110px;
}

.u97 {
    position:absolute;
    left:2px;
    top:47px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../主页_files/u96_normal.png');
}

.u98_container {
    position:absolute;
    left:179px;
    top:1370px;
    width:126px;
    height:110px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:110px;
}

.u99 {
    position:absolute;
    left:2px;
    top:47px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../主页_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:315px;
    top:1372px;
    width:126px;
    height:108px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:108px;
}

.u101 {
    position:absolute;
    left:2px;
    top:46px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../主页_files/u96_normal.png');
}

.u102_container {
    position:absolute;
    left:449px;
    top:1370px;
    width:126px;
    height:110px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:110px;
}

.u103 {
    position:absolute;
    left:2px;
    top:47px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:50px;
    top:1340px;
    width:260px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../主页_files/u96_normal.png');
}

.u105_container {
    position:absolute;
    left:585px;
    top:1370px;
    width:126px;
    height:110px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:110px;
}

.u106 {
    position:absolute;
    left:2px;
    top:47px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../主页_files/u107_normal.png');
}

.u107_container {
    position:absolute;
    left:42px;
    top:1511px;
    width:126px;
    height:107px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:107px;
}

.u108 {
    position:absolute;
    left:2px;
    top:46px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../主页_files/u107_normal.png');
}

.u109_container {
    position:absolute;
    left:178px;
    top:1511px;
    width:126px;
    height:107px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:107px;
}

.u110 {
    position:absolute;
    left:2px;
    top:46px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../主页_files/u107_normal.png');
}

.u111_container {
    position:absolute;
    left:314px;
    top:1513px;
    width:126px;
    height:107px;
}

#u111_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:107px;
}

.u112 {
    position:absolute;
    left:2px;
    top:46px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../主页_files/u107_normal.png');
}

.u113_container {
    position:absolute;
    left:448px;
    top:1511px;
    width:126px;
    height:107px;
}

#u113_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:107px;
}

.u114 {
    position:absolute;
    left:2px;
    top:46px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../主页_files/u107_normal.png');
}

.u115_container {
    position:absolute;
    left:584px;
    top:1511px;
    width:126px;
    height:107px;
}

#u115_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:107px;
}

.u116 {
    position:absolute;
    left:2px;
    top:46px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../主页_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:31px;
    top:1670px;
    width:689px;
    height:263px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:695px;
    height:269px;
}

.u118 {
    position:absolute;
    left:2px;
    top:124px;
    width:685px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:50px;
    top:1684px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:49px;
    top:1480px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:179px;
    top:1481px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122 {
    position:absolute;
    left:315px;
    top:1481px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123 {
    position:absolute;
    left:456px;
    top:1482px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:595px;
    top:1480px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:51px;
    top:1619px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126 {
    position:absolute;
    left:181px;
    top:1620px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:317px;
    top:1620px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:458px;
    top:1621px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:597px;
    top:1619px;
    width:111px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:55px;
    top:1881px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:55px;
    top:1904px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../主页_files/u132_normal.png');
}

.u132_container {
    position:absolute;
    left:60px;
    top:1715px;
    width:140px;
    height:158px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:158px;
}

.u133 {
    position:absolute;
    left:2px;
    top:71px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:225px;
    top:1881px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:225px;
    top:1904px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../主页_files/u132_normal.png');
}

.u136_container {
    position:absolute;
    left:230px;
    top:1715px;
    width:140px;
    height:158px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:158px;
}

.u137 {
    position:absolute;
    left:2px;
    top:71px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../主页_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:40px;
    top:1710px;
    width:160px;
    height:216px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:222px;
}

.u139 {
    position:absolute;
    left:2px;
    top:100px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:45px;
    top:1881px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:45px;
    top:1904px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../主页_files/u132_normal.png');
}

.u142_container {
    position:absolute;
    left:50px;
    top:1715px;
    width:140px;
    height:158px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:158px;
}

.u143 {
    position:absolute;
    left:2px;
    top:71px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../主页_files/u138_normal.png');
}

.u144_container {
    position:absolute;
    left:210px;
    top:1710px;
    width:160px;
    height:216px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:222px;
}

.u145 {
    position:absolute;
    left:2px;
    top:100px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:215px;
    top:1881px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:215px;
    top:1904px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../主页_files/u132_normal.png');
}

.u148_container {
    position:absolute;
    left:220px;
    top:1715px;
    width:140px;
    height:158px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:158px;
}

.u149 {
    position:absolute;
    left:2px;
    top:71px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../主页_files/u138_normal.png');
}

.u150_container {
    position:absolute;
    left:380px;
    top:1710px;
    width:160px;
    height:216px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:222px;
}

.u151 {
    position:absolute;
    left:2px;
    top:100px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:385px;
    top:1881px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153 {
    position:absolute;
    left:385px;
    top:1904px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../主页_files/u132_normal.png');
}

.u154_container {
    position:absolute;
    left:390px;
    top:1715px;
    width:140px;
    height:158px;
}

#u154_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:158px;
}

.u155 {
    position:absolute;
    left:2px;
    top:71px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../主页_files/u138_normal.png');
}

.u156_container {
    position:absolute;
    left:550px;
    top:1710px;
    width:160px;
    height:216px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:166px;
    height:222px;
}

.u157 {
    position:absolute;
    left:2px;
    top:100px;
    width:156px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:555px;
    top:1881px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:555px;
    top:1904px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../主页_files/u132_normal.png');
}

.u160_container {
    position:absolute;
    left:560px;
    top:1715px;
    width:140px;
    height:158px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:158px;
}

.u161 {
    position:absolute;
    left:2px;
    top:71px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../主页_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:823px;
    top:380px;
    width:57px;
    height:20px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:20px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../主页_files/u162_normal.png');
}

.u164_container {
    position:absolute;
    left:822px;
    top:1680px;
    width:57px;
    height:20px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:20px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../主页_files/u166_normal.png');
}

.u166_container {
    position:absolute;
    left:730px;
    top:948px;
    width:240px;
    height:370px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:376px;
}

.u167 {
    position:absolute;
    left:2px;
    top:177px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:742px;
    top:959px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../主页_files/u18_normal.png');
}

.u169_container {
    position:absolute;
    left:742px;
    top:985px;
    width:215px;
    height:312px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:215px;
    height:312px;
}

.u170 {
    position:absolute;
    left:2px;
    top:148px;
    width:211px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../主页_files/u171_normal.png');
}

.u171_container {
    position:absolute;
    left:817px;
    top:1060px;
    width:70px;
    height:61px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:61px;
}

.u172 {
    position:absolute;
    left:2px;
    top:22px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../主页_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:761px;
    top:985px;
    width:126px;
    height:24px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:24px;
}

.u174 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../主页_files/u173_normal.png');
}

.u175_container {
    position:absolute;
    left:761px;
    top:1019px;
    width:126px;
    height:24px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:24px;
}

.u176 {
    position:absolute;
    left:2px;
    top:4px;
    width:122px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../主页_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:760px;
    top:1140px;
    width:146px;
    height:24px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u178 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../主页_files/u177_normal.png');
}

.u179_container {
    position:absolute;
    left:761px;
    top:1174px;
    width:146px;
    height:24px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u180 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../主页_files/u177_normal.png');
}

.u181_container {
    position:absolute;
    left:761px;
    top:1208px;
    width:146px;
    height:24px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u182 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../主页_files/u177_normal.png');
}

.u183_container {
    position:absolute;
    left:761px;
    top:1234px;
    width:146px;
    height:24px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u184 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185_normal {
    background-image: url('../主页_files/u177_normal.png');
}

.u185_container {
    position:absolute;
    left:761px;
    top:1266px;
    width:146px;
    height:24px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:24px;
}

.u186 {
    position:absolute;
    left:2px;
    top:4px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:761px;
    top:992px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:761px;
    top:1025px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u189 {
    position:absolute;
    left:763px;
    top:1147px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:764px;
    top:1179px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191 {
    position:absolute;
    left:761px;
    top:1210px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:762px;
    top:1242px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u193 {
    position:absolute;
    left:761px;
    top:1274px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:817px;
    top:1066px;
    width:110px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u195 {
    position:absolute;
    left:817px;
    top:1106px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../主页_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u197 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../主页_files/u198_normal.png');
}

.u198_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u199 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u201_normal {
    background-image: url('../主页_files/u196_normal.png');
}

.u201_container {
    position:absolute;
    left:301px;
    top:2029px;
    width:25px;
    height:25px;
}

#u201_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u202 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u203_normal {
    background-image: url('../主页_files/u198_normal.png');
}

.u203_container {
    position:absolute;
    left:301px;
    top:2064px;
    width:25px;
    height:25px;
}

#u203_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u204 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u205 {
    position:absolute;
    left:336px;
    top:2029px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206 {
    position:absolute;
    left:336px;
    top:2068px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u207 {
    position:absolute;
    left:461px;
    top:2033px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../主页_files/u88_normal.png');
}

.u208_container {
    position:absolute;
    left:436px;
    top:2024px;
    width:25px;
    height:30px;
}

#u208_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u209 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210 {
    position:absolute;
    left:200px;
    top:2029px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u211 {
    position:absolute;
    left:200px;
    top:2055px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212 {
    position:absolute;
    left:200px;
    top:2081px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u213 {
    position:absolute;
    left:570px;
    top:2033px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214 {
    position:absolute;
    left:857px;
    top:176px;
    width:83px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u215 {
    position:absolute;
    left:200px;
    top:2107px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216 {
    position:absolute;
    left:970px;
    top:178px;
    width:190px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u217_normal {
    background-image: url('../主页_files/u47_normal.png');
}

.u217_container {
    position:absolute;
    left:40px;
    top:576px;
    width:200px;
    height:136px;
}

#u217_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:136px;
}

.u218 {
    position:absolute;
    left:2px;
    top:60px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u219 {
    position:absolute;
    left:260px;
    top:576px;
    width:280px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220 {
    position:absolute;
    left:260px;
    top:606px;
    width:430px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u221_line {
    background-image: url('../主页_files/u221_line.png');
}

.u221_line {
    position:absolute;
    left:0px;
    top:4px;
    width:650px;
    height:3px;
}

.u221 {
    position:absolute;
    left:40px;
    top:730px;
    width:650px;
    height:10px;
    
}

.u222 {
    position:absolute;
    left:260px;
    top:650px;
    width:200px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u223 {
    position:absolute;
    left:260px;
    top:696px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224 {
    position:absolute;
    left:505px;
    top:696px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u225_normal {
    background-image: url('../主页_files/u68_normal.png');
}

.u225_container {
    position:absolute;
    left:650px;
    top:690px;
    width:21px;
    height:22px;
}

#u225_img {
    position:absolute;
    left:0px;
    top:0px;
    width:21px;
    height:22px;
}

.u226 {
    position:absolute;
    left:2px;
    top:3px;
    width:17px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

