body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../个人主页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u1 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../个人主页_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:522px;
    top:127px;
    width:330px;
    height:22px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:28px;
}

.u3 {
    position:absolute;
    left:2px;
    top:3px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../个人主页_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u5 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../个人主页_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u9 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../个人主页_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u11 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../个人主页_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:30px;
    top:220px;
    width:970px;
    height:250px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:256px;
}

.u13 {
    position:absolute;
    left:2px;
    top:117px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../个人主页_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:50px;
    top:272px;
    width:190px;
    height:148px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:154px;
}

.u15 {
    position:absolute;
    left:2px;
    top:66px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../个人主页_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:50px;
    top:420px;
    width:190px;
    height:40px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:46px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:75px;
    top:432px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../个人主页_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:30px;
    top:470px;
    width:970px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../个人主页_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:50px;
    top:479px;
    width:100px;
    height:28px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:209px;
    top:486px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:560px;
    top:14px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:910px;
    top:178px;
    width:50px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:840px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:146px;
    top:432px;
    width:104px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../个人主页_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../个人主页_files/u28_normal.png');
}

.u30_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../个人主页_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:30px;
    top:183px;
    width:100px;
    height:25px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:55px;
    top:486px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:326px;
    top:487px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../个人主页_files/u36_normal.png');
}

.u36_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u37 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../个人主页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:860px;
    top:125px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:522px;
    top:127px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:612px;
    top:131px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../个人主页_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u44 {
    position:absolute;
    left:32px;
    top:1450px;
    width:932px;
    height:10px;
    
}

.u45_normal {
    background-image: url('../个人主页_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:32px;
    top:580px;
    width:225px;
    height:334px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u46 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../个人主页_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:32px;
    top:580px;
    width:225px;
    height:258px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u48 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:40px;
    top:848px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:40px;
    top:884px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../个人主页_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:200px;
    top:880px;
    width:46px;
    height:23px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../个人主页_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:220px;
    top:812px;
    width:37px;
    height:26px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../个人主页_files/u45_normal.png');
}

.u55_container {
    position:absolute;
    left:295px;
    top:580px;
    width:225px;
    height:334px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u56 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../个人主页_files/u47_normal.png');
}

.u57_container {
    position:absolute;
    left:295px;
    top:580px;
    width:225px;
    height:258px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u58 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:303px;
    top:848px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:303px;
    top:884px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../个人主页_files/u51_normal.png');
}

.u61_container {
    position:absolute;
    left:463px;
    top:880px;
    width:46px;
    height:23px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../个人主页_files/u53_normal.png');
}

.u63_container {
    position:absolute;
    left:483px;
    top:812px;
    width:37px;
    height:26px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:5px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_line {
    background-image: url('../个人主页_files/u65_line.png');
}

.u65_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u65 {
    position:absolute;
    left:30px;
    top:942px;
    width:932px;
    height:10px;
    
}

.u66 {
    position:absolute;
    left:346px;
    top:1067px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:202px;
    top:1523px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../个人主页_files/u36_normal.png');
}

.u68_container {
    position:absolute;
    left:303px;
    top:1549px;
    width:25px;
    height:25px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u69 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../个人主页_files/u38_normal.png');
}

.u70_container {
    position:absolute;
    left:303px;
    top:1584px;
    width:25px;
    height:25px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u71 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:338px;
    top:1549px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:338px;
    top:1588px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:463px;
    top:1553px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../个人主页_files/u10_normal.png');
}

.u75_container {
    position:absolute;
    left:438px;
    top:1544px;
    width:25px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u76 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:202px;
    top:1549px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:202px;
    top:1575px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:202px;
    top:1601px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:572px;
    top:1553px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:346px;
    top:1004px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:260px;
    top:428px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:260px;
    top:354px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:263px;
    top:384px;
    width:455px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:390px;
    top:432px;
    width:400px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../个人主页_files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:50px;
    top:1140px;
    width:110px;
    height:30px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:116px;
    height:36px;
}

.u87 {
    position:absolute;
    left:2px;
    top:7px;
    width:106px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_line {
    background-image: url('../个人主页_files/u88_line.png');
}

.u88_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u88 {
    position:absolute;
    left:40px;
    top:1165px;
    width:960px;
    height:10px;
    
}

.u89 {
    position:absolute;
    left:285px;
    top:1354px;
    width:295px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../个人主页_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:53px;
    top:1191px;
    width:78px;
    height:72px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:78px;
}

.u91 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:151px;
    top:1191px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:151px;
    top:1217px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:151px;
    top:1247px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:101px;
    top:1288px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96_normal {
    background-image: url('../个人主页_files/u90_normal.png');
}

.u96_container {
    position:absolute;
    left:371px;
    top:1191px;
    width:78px;
    height:72px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:78px;
}

.u97 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:469px;
    top:1191px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:469px;
    top:1217px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:469px;
    top:1247px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:419px;
    top:1288px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102_normal {
    background-image: url('../个人主页_files/u90_normal.png');
}

.u102_container {
    position:absolute;
    left:663px;
    top:1191px;
    width:78px;
    height:72px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:78px;
}

.u103 {
    position:absolute;
    left:2px;
    top:28px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:761px;
    top:1191px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:761px;
    top:1217px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:761px;
    top:1247px;
    width:220px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:711px;
    top:1288px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u108 {
    position:absolute;
    left:50px;
    top:525px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_line {
    background-image: url('../个人主页_files/u109_line.png');
}

.u109_line {
    position:absolute;
    left:0px;
    top:4px;
    width:780px;
    height:3px;
}

.u109 {
    position:absolute;
    left:30px;
    top:551px;
    width:780px;
    height:10px;
    
}

.u110 {
    position:absolute;
    left:201px;
    top:525px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_line {
    background-image: url('../个人主页_files/u111_line.png');
}

.u111_line {
    position:absolute;
    left:0px;
    top:3px;
    width:85px;
    height:5px;
}

.u111 {
    position:absolute;
    left:40px;
    top:551px;
    width:85px;
    height:10px;
    
}

