body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../商家中心_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../商家中心_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u3 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../商家中心_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../商家中心_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:260px;
    top:332px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../商家中心_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:672px;
    height:3px;
}

.u11 {
    position:absolute;
    left:260px;
    top:361px;
    width:672px;
    height:10px;
    
}

.u12_line {
    background-image: url('../商家中心_files/u12_line.png');
}

.u12_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u12 {
    position:absolute;
    left:30px;
    top:989px;
    width:932px;
    height:10px;
    
}

.u13 {
    position:absolute;
    left:260px;
    top:389px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:329px;
    top:381px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:260px;
    top:426px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:330px;
    top:423px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:260px;
    top:472px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:329px;
    top:464px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:260px;
    top:507px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:329px;
    top:499px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:260px;
    top:540px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../商家中心_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:329px;
    top:540px;
    width:61px;
    height:16px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:22px;
}

.u23 {
    position:absolute;
    left:2px;
    top:0px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../商家中心_files/u22_normal.png');
}

.u24_container {
    position:absolute;
    left:419px;
    top:540px;
    width:61px;
    height:16px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:67px;
    height:22px;
}

.u25 {
    position:absolute;
    left:2px;
    top:0px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_line {
    background-image: url('../商家中心_files/u26_line.png');
}

.u26_line {
    position:absolute;
    left:0px;
    top:3px;
    width:19px;
    height:5px;
}

.u26 {
    position:absolute;
    left:395px;
    top:541px;
    width:19px;
    height:10px;
    
}

.u27 {
    position:absolute;
    left:260px;
    top:577px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:329px;
    top:579px;
    width:41px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:398px;
    top:579px;
    width:41px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:378px;
    top:585px;
    width:20px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:260px;
    top:615px;
    width:390px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:329px;
    top:684px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:860px;
    top:178px;
    width:50px;
    height:22px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:550px;
    top:425px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35_normal {
    background-image: url('../商家中心_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u36 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../商家中心_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u38 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../商家中心_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:30px;
    top:183px;
    width:100px;
    height:25px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u40 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../商家中心_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:42px;
    top:230px;
    width:58px;
    height:62px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:68px;
}

.u42 {
    position:absolute;
    left:2px;
    top:23px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:110px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_line {
    background-image: url('../商家中心_files/u44_line.png');
}

.u44_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u44 {
    position:absolute;
    left:30px;
    top:297px;
    width:960px;
    height:10px;
    
}

.u45_normal {
    background-image: url('../商家中心_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u46 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../商家中心_files/u47_normal.png');
}

.u47_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:225px;
    top:1020px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../商家中心_files/u45_normal.png');
}

.u51_container {
    position:absolute;
    left:326px;
    top:1046px;
    width:25px;
    height:25px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../商家中心_files/u47_normal.png');
}

.u53_container {
    position:absolute;
    left:326px;
    top:1081px;
    width:25px;
    height:25px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:361px;
    top:1046px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:361px;
    top:1085px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:486px;
    top:1050px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../商家中心_files/u8_normal.png');
}

.u58_container {
    position:absolute;
    left:461px;
    top:1041px;
    width:25px;
    height:30px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u59 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:225px;
    top:1046px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:225px;
    top:1072px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:225px;
    top:1098px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:595px;
    top:1050px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:225px;
    top:1124px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:560px;
    top:14px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:840px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../商家中心_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:42px;
    top:314px;
    width:180px;
    height:567px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:573px;
}

.u68 {
    position:absolute;
    left:2px;
    top:276px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../商家中心_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:42px;
    top:353px;
    width:180px;
    height:31px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u70 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:42px;
    top:384px;
    width:180px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u73_container {
    position:absolute;
    left:42px;
    top:414px;
    width:180px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u75_container {
    position:absolute;
    left:42px;
    top:444px;
    width:180px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../商家中心_files/u69_normal.png');
}

.u77_container {
    position:absolute;
    left:42px;
    top:474px;
    width:180px;
    height:31px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u78 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u79_container {
    position:absolute;
    left:42px;
    top:505px;
    width:180px;
    height:30px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u80 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u81_container {
    position:absolute;
    left:42px;
    top:535px;
    width:180px;
    height:30px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u82 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../商家中心_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:42px;
    top:566px;
    width:180px;
    height:38px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u85_container {
    position:absolute;
    left:42px;
    top:634px;
    width:180px;
    height:30px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u86 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u87_container {
    position:absolute;
    left:42px;
    top:666px;
    width:180px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u89_container {
    position:absolute;
    left:42px;
    top:728px;
    width:180px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u91_container {
    position:absolute;
    left:42px;
    top:758px;
    width:180px;
    height:30px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u92 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../商家中心_files/u69_normal.png');
}

.u93_container {
    position:absolute;
    left:42px;
    top:604px;
    width:180px;
    height:31px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u94 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../商家中心_files/u69_normal.png');
}

.u95_container {
    position:absolute;
    left:42px;
    top:696px;
    width:180px;
    height:31px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u96 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../商家中心_files/u83_normal.png');
}

.u97_container {
    position:absolute;
    left:42px;
    top:313px;
    width:180px;
    height:38px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u98 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../商家中心_files/u69_normal.png');
}

.u99_container {
    position:absolute;
    left:42px;
    top:788px;
    width:180px;
    height:31px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u100 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u101_container {
    position:absolute;
    left:42px;
    top:820px;
    width:180px;
    height:30px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u102 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../商家中心_files/u71_normal.png');
}

.u103_container {
    position:absolute;
    left:42px;
    top:850px;
    width:180px;
    height:30px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u104 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

