body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../绑定与同步_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../绑定与同步_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u3 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../绑定与同步_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../绑定与同步_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:260px;
    top:335px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_line {
    background-image: url('../绑定与同步_files/u11_line.png');
}

.u11_line {
    position:absolute;
    left:0px;
    top:4px;
    width:672px;
    height:3px;
}

.u11 {
    position:absolute;
    left:260px;
    top:364px;
    width:672px;
    height:10px;
    
}

.u12 {
    position:absolute;
    left:260px;
    top:376px;
    width:430px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:300px;
    top:416px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:390px;
    top:416px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u15 {
    position:absolute;
    left:313px;
    top:467px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:390px;
    top:467px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:600px;
    top:416px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:390px;
    top:543px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19_line {
    background-image: url('../绑定与同步_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u19 {
    position:absolute;
    left:30px;
    top:1002px;
    width:932px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:882px;
    top:183px;
    width:50px;
    height:16px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21_normal {
    background-image: url('../绑定与同步_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../绑定与同步_files/u21_normal.png');
}

.u23_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../绑定与同步_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:30px;
    top:183px;
    width:100px;
    height:25px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../绑定与同步_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:42px;
    top:230px;
    width:58px;
    height:62px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:64px;
    height:68px;
}

.u28 {
    position:absolute;
    left:2px;
    top:23px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:110px;
    top:230px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_line {
    background-image: url('../绑定与同步_files/u30_line.png');
}

.u30_line {
    position:absolute;
    left:0px;
    top:4px;
    width:960px;
    height:3px;
}

.u30 {
    position:absolute;
    left:30px;
    top:297px;
    width:960px;
    height:10px;
    
}

.u31 {
    position:absolute;
    left:190px;
    top:1060px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../绑定与同步_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:291px;
    top:1086px;
    width:25px;
    height:25px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../绑定与同步_files/u34_normal.png');
}

.u34_container {
    position:absolute;
    left:291px;
    top:1121px;
    width:25px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:326px;
    top:1086px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:326px;
    top:1125px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:451px;
    top:1090px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../绑定与同步_files/u8_normal.png');
}

.u39_container {
    position:absolute;
    left:426px;
    top:1081px;
    width:25px;
    height:30px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u40 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:190px;
    top:1086px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:190px;
    top:1112px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:190px;
    top:1138px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:560px;
    top:1090px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:560px;
    top:14px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:840px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../绑定与同步_files/u32_normal.png');
}

.u47_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../绑定与同步_files/u34_normal.png');
}

.u49_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:190px;
    top:1164px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../绑定与同步_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:42px;
    top:313px;
    width:180px;
    height:567px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:573px;
}

.u54 {
    position:absolute;
    left:2px;
    top:276px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../绑定与同步_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:42px;
    top:353px;
    width:180px;
    height:31px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:42px;
    top:384px;
    width:180px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u59_container {
    position:absolute;
    left:42px;
    top:414px;
    width:180px;
    height:30px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u60 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u61_container {
    position:absolute;
    left:42px;
    top:444px;
    width:180px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../绑定与同步_files/u55_normal.png');
}

.u63_container {
    position:absolute;
    left:42px;
    top:474px;
    width:180px;
    height:31px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u64 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u65_container {
    position:absolute;
    left:42px;
    top:505px;
    width:180px;
    height:30px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u66 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u67_container {
    position:absolute;
    left:42px;
    top:535px;
    width:180px;
    height:30px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u68 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../绑定与同步_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:42px;
    top:565px;
    width:180px;
    height:38px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u70 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u71_container {
    position:absolute;
    left:42px;
    top:634px;
    width:180px;
    height:30px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u72 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u73_container {
    position:absolute;
    left:42px;
    top:665px;
    width:180px;
    height:30px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u74 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u75_container {
    position:absolute;
    left:42px;
    top:728px;
    width:180px;
    height:30px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u76 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u77_container {
    position:absolute;
    left:42px;
    top:758px;
    width:180px;
    height:30px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u78 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../绑定与同步_files/u55_normal.png');
}

.u79_container {
    position:absolute;
    left:42px;
    top:603px;
    width:180px;
    height:31px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u80 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../绑定与同步_files/u55_normal.png');
}

.u81_container {
    position:absolute;
    left:42px;
    top:696px;
    width:180px;
    height:31px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u82 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../绑定与同步_files/u69_normal.png');
}

.u83_container {
    position:absolute;
    left:42px;
    top:313px;
    width:180px;
    height:38px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:44px;
}

.u84 {
    position:absolute;
    left:2px;
    top:10px;
    width:176px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../绑定与同步_files/u55_normal.png');
}

.u85_container {
    position:absolute;
    left:42px;
    top:788px;
    width:180px;
    height:31px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:37px;
}

.u86 {
    position:absolute;
    left:2px;
    top:8px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u87_container {
    position:absolute;
    left:42px;
    top:820px;
    width:180px;
    height:30px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u88 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../绑定与同步_files/u57_normal.png');
}

.u89_container {
    position:absolute;
    left:42px;
    top:850px;
    width:180px;
    height:30px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:36px;
}

.u90 {
    position:absolute;
    left:2px;
    top:7px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

