body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../我晒的_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:168px;
    width:1000px;
    height:40px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:46px;
}

.u1 {
    position:absolute;
    left:2px;
    top:12px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../我晒的_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:40px;
    width:1000px;
    height:128px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1006px;
    height:134px;
}

.u3 {
    position:absolute;
    left:2px;
    top:56px;
    width:996px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:160px;
    top:134px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:30px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../我晒的_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:30px;
    top:78px;
    width:120px;
    height:80px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:126px;
    height:86px;
}

.u7 {
    position:absolute;
    left:2px;
    top:32px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../我晒的_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:90px;
    top:2px;
    width:25px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u9 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_line {
    background-image: url('../我晒的_files/u10_line.png');
}

.u10_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u10 {
    position:absolute;
    left:40px;
    top:1033px;
    width:932px;
    height:10px;
    
}

.u11_normal {
    background-image: url('../我晒的_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:30px;
    top:220px;
    width:970px;
    height:250px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:256px;
}

.u12 {
    position:absolute;
    left:2px;
    top:117px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../我晒的_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:50px;
    top:272px;
    width:190px;
    height:148px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:154px;
}

.u14 {
    position:absolute;
    left:2px;
    top:66px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../我晒的_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:50px;
    top:420px;
    width:190px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:196px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:186px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:260px;
    top:354px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:260px;
    top:444px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:400px;
    top:444px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:75px;
    top:432px;
    width:61px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../我晒的_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:30px;
    top:470px;
    width:970px;
    height:40px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:976px;
    height:46px;
}

.u22 {
    position:absolute;
    left:2px;
    top:12px;
    width:966px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../我晒的_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:30px;
    top:530px;
    width:225px;
    height:334px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u24 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../我晒的_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:32px;
    top:520px;
    width:225px;
    height:258px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u26 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:40px;
    top:788px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:560px;
    top:444px;
    width:110px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:890px;
    top:178px;
    width:50px;
    height:18px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30_normal {
    background-image: url('../我晒的_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:220px;
    top:752px;
    width:37px;
    height:26px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:26px;
}

.u31 {
    position:absolute;
    left:2px;
    top:5px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../我晒的_files/u23_normal.png');
}

.u32_container {
    position:absolute;
    left:295px;
    top:520px;
    width:225px;
    height:334px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:231px;
    height:340px;
}

.u33 {
    position:absolute;
    left:2px;
    top:159px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../我晒的_files/u25_normal.png');
}

.u34_container {
    position:absolute;
    left:295px;
    top:520px;
    width:225px;
    height:258px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:225px;
    height:258px;
}

.u35 {
    position:absolute;
    left:2px;
    top:121px;
    width:221px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:303px;
    top:788px;
    width:210px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:303px;
    top:824px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../我晒的_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:463px;
    top:820px;
    width:46px;
    height:23px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:23px;
}

.u39 {
    position:absolute;
    left:2px;
    top:4px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../我晒的_files/u30_normal.png');
}

.u40_container {
    position:absolute;
    left:483px;
    top:752px;
    width:37px;
    height:26px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:26px;
}

.u41 {
    position:absolute;
    left:2px;
    top:5px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../我晒的_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:932px;
    height:3px;
}

.u42 {
    position:absolute;
    left:30px;
    top:882px;
    width:932px;
    height:10px;
    
}

.u43 {
    position:absolute;
    left:146px;
    top:432px;
    width:155px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../我晒的_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:180px;
    top:178px;
    width:90px;
    height:30px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u45 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../我晒的_files/u44_normal.png');
}

.u46_container {
    position:absolute;
    left:315px;
    top:178px;
    width:90px;
    height:30px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:36px;
}

.u47 {
    position:absolute;
    left:2px;
    top:7px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../我晒的_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:30px;
    top:183px;
    width:100px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:4px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:40px;
    top:827px;
    width:47px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:331px;
    top:994px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../我晒的_files/u52_normal.png');
}

.u52_container {
    position:absolute;
    left:370px;
    top:478px;
    width:100px;
    height:28px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:34px;
}

.u53 {
    position:absolute;
    left:2px;
    top:6px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:60px;
    top:485px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:395px;
    top:484px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:220px;
    top:485px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:510px;
    top:485px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:220px;
    top:1086px;
    width:510px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../我晒的_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:321px;
    top:1112px;
    width:25px;
    height:25px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u60 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../我晒的_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:321px;
    top:1147px;
    width:25px;
    height:25px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:356px;
    top:1112px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:356px;
    top:1151px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:481px;
    top:1116px;
    width:69px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../我晒的_files/u8_normal.png');
}

.u66_container {
    position:absolute;
    left:456px;
    top:1107px;
    width:25px;
    height:30px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:30px;
}

.u67 {
    position:absolute;
    left:2px;
    top:7px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:220px;
    top:1112px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:220px;
    top:1138px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:220px;
    top:1164px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:590px;
    top:1116px;
    width:70px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:560px;
    top:14px;
    width:400px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:840px;
    top:14px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:333px;
    top:940px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../我晒的_files/u59_normal.png');
}

.u75_container {
    position:absolute;
    left:160px;
    top:7px;
    width:25px;
    height:25px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u76 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../我晒的_files/u61_normal.png');
}

.u77_container {
    position:absolute;
    left:196px;
    top:5px;
    width:25px;
    height:25px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u78 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:228px;
    top:14px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:220px;
    top:1190px;
    width:60px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:255px;
    top:384px;
    width:455px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../我晒的_files/u82_normal.png');
}

.u82_container {
    position:absolute;
    left:522px;
    top:127px;
    width:330px;
    height:22px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:28px;
}

.u83 {
    position:absolute;
    left:2px;
    top:3px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:860px;
    top:125px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:522px;
    top:127px;
    width:70px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:612px;
    top:131px;
    width:190px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

